In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_original = pd.read_csv("NYPD_Complaint_Data_Current__Year_To_Date__20240405.csv")

In [3]:
df_original.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799,"(40.82405906, -73.89979939)",POINT (-73.89979939 40.82405906)
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125,"(40.83585867, -73.87212505)",POINT (-73.87212505 40.83585867)
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400,"(40.8315, -73.8634)",POINT (-73.8634 40.8315)
3,263141402H1,NaN,BROOKLYN,02/06/2023,10:16:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,18-24,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN
4,269307857H1,NaN,BROOKLYN,06/04/2023,00:20:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_original.describe()

,ADDR_PCT_CD,HOUSING_PSA,JURISDICTION_CODE,KY_CD,PD_CD,TRANSIT_DISTRICT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,555047.000000,36025.000000,555117.000000,555117.000000,554731.000000,14733.000000,5.551050e+05,555105.000000,555105.000000,555105.000000
mean,63.954051,6405.863428,0.528698,299.576752,418.028987,15.974004,1.005504e+06,207741.793875,40.736684,-73.922998
std,35.106302,13256.637379,5.396617,159.024032,227.691726,12.881583,2.165866e+04,29949.894252,0.112854,0.160446
min,1.000000,218.000000,0.000000,101.000000,100.000000,1.000000,0.000000e+00,0.000000,0.000000,-74.254377
25%,40.000000,472.000000,0.000000,115.000000,258.000000,3.000000,9.916100e+05,185478.000000,40.675719,-73.973423
50%,63.000000,696.000000,0.000000,341.000000,357.000000,12.000000,1.004938e+06,207065.000000,40.734955,-73.925311
75%,102.000000,1233.000000,0.000000,351.000000,638.000000,32.000000,1.017907e+06,235044.000000,40.811802,-73.878510
max,123.000000,72770.000000,97.000000,881.000000,969.000000,34.000000,1.067226e+06,271819.000000,40.912714,0.000000

In [5]:
df_original.isnull().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                     70
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 34738
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 519092
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          386
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            540384
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                      12
Y_COORD_CD                      12
Latitude                        12
Longitude                       12
Lat_Lon                         12
New Georeferenced Column        12
dtype: int64

In [6]:
num_rows = df_original.shape[0]
print("Total number of rows: ", num_rows)

Total number of rows:  555117

In [7]:
# Create a copy of the original df
df = df_original.copy()

### Handle Missing Values

In [8]:
# Drop `HOUSING_PSA` and `TRANSIT_DISTRICT` columns, as they have >90% missing values.

df.drop(['HOUSING_PSA', 'TRANSIT_DISTRICT'], axis=1, inplace=True)

In [9]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,JURISDICTION_CODE,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,(null),COMPLETED,(null),0,...,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799,"(40.82405906, -73.89979939)",POINT (-73.89979939 40.82405906)
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,(null),COMPLETED,(null),0,...,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125,"(40.83585867, -73.87212505)",POINT (-73.87212505 40.83585867)
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,(null),COMPLETED,(null),0,...,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400,"(40.8315, -73.8634)",POINT (-73.8634 40.8315)
3,263141402H1,NaN,BROOKLYN,02/06/2023,10:16:00,NaN,(null),COMPLETED,(null),0,...,M,18-24,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN
4,269307857H1,NaN,BROOKLYN,06/04/2023,00:20:00,NaN,(null),COMPLETED,(null),0,...,M,25-44,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Also identify columns with any remaning null values.
# Check for strings like "(NaN)" or "(null)" that weren't caught by the `isnull()` method

In [11]:
def replace_with_nan(value):
    if value in ['(NaN)', '(null)']:
        return np.nan
    return value

In [12]:
df = df.applymap(replace_with_nan)

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/4030091112.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(replace_with_nan)

In [13]:
missing_values_after = df.isnull().sum()

missing_percentage_after = (missing_values_after / len(df)) * 100

missing_summary_after = pd.DataFrame({'missing_values': missing_values_after, 'missing_percentage': missing_percentage_after})
print(missing_summary_after[missing_summary_after['missing_values'] > 0].sort_values(by='missing_percentage', ascending=False))

                          missing_values  missing_percentage
HADEVELOPT                        553360           99.683490
PARKS_NM                          551791           99.400847
STATION_NAME                      540384           97.345965
LOC_OF_OCCUR_DESC                 111769           20.134314
SUSP_SEX                           72130           12.993657
SUSP_AGE_GROUP                     72130           12.993657
SUSP_RACE                          72130           12.993657
CMPLNT_TO_DT                       34738            6.257780
CMPLNT_TO_TM                       34325            6.183381
PREM_TYP_DESC                      22212            4.001319
BORO_NM                             1019            0.183565
PD_CD                                386            0.069535
PD_DESC                              386            0.069535
VIC_RACE                             107            0.019275
ADDR_PCT_CD                           70            0.012610
OFNS_DESC                             17            0.003062
X_COORD_CD                            12            0.002162
Y_COORD_CD                            12            0.002162
Latitude                              12            0.002162
Longitude                             12            0.002162
Lat_Lon                               12            0.002162
New Georeferenced Column              12            0.002162

In [14]:
# Drop `HADEVELOPT`, `PARKS_NM`, and `STATION_NAME` columns, as they also have >90% missing values.

df.drop(['HADEVELOPT', 'PARKS_NM', 'STATION_NAME'], axis=1, inplace=True)

In [15]:
df['missing_values_count'] = df.isnull().sum(axis=1)

rows_with_missing_values = df[df['missing_values_count'] > 0]
print("Rows with missing values and their counts:\n", rows_with_missing_values[['missing_values_count']])

Rows with missing values and their counts:
         missing_values_count
0                          3
1                          3
2                          2
3                         11
4                         12
...                      ...
555109                     1
555110                     3
555114                     1
555115                     1
555116                     3

[201422 rows x 1 columns]

In [16]:
missing_value_counts_summary = rows_with_missing_values['missing_values_count'].value_counts().sort_index()
print("\nSummary of missing value counts per row:\n", missing_value_counts_summary)

Summary of missing value counts per row:
 missing_values_count
1     95581
2     26266
3     56123
4     16612
5      3543
6      2372
7       848
8        52
9        13
11        4
12        6
14        1
15        1
Name: count, dtype: int64

Based on the above summary, it seems reasonable to drop rows with a high number of missing values (i.e. 8+ missing values), especially given that there are 36 columns in total. The total number of rows that will be dropped is 77, and this is very small compared to the overall dataset, so this should not have significant impact.

In [17]:
df = df[df['missing_values_count'] < 8]

df.drop('missing_values_count', axis=1, inplace=True)

print(f"Number of rows after dropping these rows: {len(df)}")

Number of rows after dropping these rows: 555040

In [18]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799,"(40.82405906, -73.89979939)",POINT (-73.89979939 40.82405906)
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125,"(40.83585867, -73.87212505)",POINT (-73.87212505 40.83585867)
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400,"(40.8315, -73.8634)",POINT (-73.8634 40.8315)
9,278972931,123.0,STATEN ISLAND,12/14/2023,02:50:00,12/14/2023,02:52:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,E,934105.0,138444.0,40.546531,-74.180430,"(40.54653060020265, -74.18043031626128)",POINT (-74.18043031626128 40.54653060020265)
10,278470767,121.0,STATEN ISLAND,12/04/2023,15:53:00,12/04/2023,16:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,BLACK,F,945652.0,167646.0,40.626742,-74.139049,"(40.626741934909774, -74.13904909934683)",POINT (-74.13904909934683 40.626741934909774)

In [19]:
# Also drop `Lat_Lon` and `New Georeferenced Column` columns as they are redundant.
# i.e. contain the same information as `Latitude` and `Longitude` in different formats.

df.drop(['Lat_Lon', 'New Georeferenced Column'], axis=1, inplace=True)

df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,18-24,BLACK,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,25-44,BLACK,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400
9,278972931,123.0,STATEN ISLAND,12/14/2023,02:50:00,12/14/2023,02:52:00,COMPLETED,0,N.Y. POLICE DEPT,...,25-44,WHITE,M,UNKNOWN,UNKNOWN,E,934105.0,138444.0,40.546531,-74.180430
10,278470767,121.0,STATEN ISLAND,12/04/2023,15:53:00,12/04/2023,16:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,25-44,BLACK,F,945652.0,167646.0,40.626742,-74.139049

In [20]:
# Finally, replace all missing values with string 'Unknown'
df.fillna('UNKNOWN', inplace=True)

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/1605586475.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UNKNOWN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('UNKNOWN', inplace=True)

### Drop Irrelevant Columns

In [21]:
# Drop `CMPLNT_NUM` column, as it is randomly generated persistent ID for each complaint.
df.drop('CMPLNT_NUM', axis=1, inplace=True)

### Encoding Categorical Variables

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555040 entries, 0 to 555116
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ADDR_PCT_CD        555040 non-null  object
 1   BORO_NM            555040 non-null  object
 2   CMPLNT_FR_DT       555040 non-null  object
 3   CMPLNT_FR_TM       555040 non-null  object
 4   CMPLNT_TO_DT       555040 non-null  object
 5   CMPLNT_TO_TM       555040 non-null  object
 6   CRM_ATPT_CPTD_CD   555040 non-null  object
 7   JURISDICTION_CODE  555040 non-null  int64
 8   JURIS_DESC         555040 non-null  object
 9   KY_CD              555040 non-null  int64
 10  LAW_CAT_CD         555040 non-null  object
 11  LOC_OF_OCCUR_DESC  555040 non-null  object
 12  OFNS_DESC          555040 non-null  object
 13  PATROL_BORO        555040 non-null  object
 14  PD_CD              555040 non-null  object
 15  PD_DESC            555040 non-null  object
 16  PREM_TYP_DESC      555040 non-null  object
 17  RPT_DT             555040 non-null  object
 18  SUSP_AGE_GROUP     555040 non-null  object
 19  SUSP_RACE          555040 non-null  object
 20  SUSP_SEX           555040 non-null  object
 21  VIC_AGE_GROUP      555040 non-null  object
 22  VIC_RACE           555040 non-null  object
 23  VIC_SEX            555040 non-null  object
 24  X_COORD_CD         555040 non-null  float64
 25  Y_COORD_CD         555040 non-null  float64
 26  Latitude           555040 non-null  float64
 27  Longitude          555040 non-null  float64
dtypes: float64(4), int64(2), object(22)
memory usage: 122.8+ MB

#### Encoding Time & Date Based Columns

In [23]:
columns_to_convert = ['CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'RPT_DT']

for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], errors='coerce')

df.head()

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2997153677.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column], errors='coerce')
/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2997153677.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column], errors='coerce')
/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2997153677.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column], errors='coerce')

,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,KY_CD,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,42.0,BRONX,2023-06-03,2024-04-06 01:00:00,NaT,NaT,COMPLETED,0,N.Y. POLICE DEPT,105,...,UNKNOWN,BLACK,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799
1,43.0,BRONX,2023-01-18,2024-04-06 14:00:00,NaT,NaT,COMPLETED,0,N.Y. POLICE DEPT,113,...,18-24,BLACK,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125
2,43.0,BRONX,2023-05-07,2024-04-06 00:15:00,NaT,NaT,COMPLETED,0,N.Y. POLICE DEPT,106,...,25-44,BLACK,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400
9,123.0,STATEN ISLAND,2023-12-14,2024-04-06 02:50:00,2023-12-14,2024-04-06 02:52:00,COMPLETED,0,N.Y. POLICE DEPT,235,...,25-44,WHITE,M,UNKNOWN,UNKNOWN,E,934105.0,138444.0,40.546531,-74.180430
10,121.0,STATEN ISLAND,2023-12-04,2024-04-06 15:53:00,2023-12-04,2024-04-06 16:00:00,COMPLETED,0,N.Y. POLICE DEPT,344,...,UNKNOWN,BLACK,M,25-44,BLACK,F,945652.0,167646.0,40.626742,-74.139049

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555040 entries, 0 to 555116
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ADDR_PCT_CD        555040 non-null  object
 1   BORO_NM            555040 non-null  object
 2   CMPLNT_FR_DT       555008 non-null  datetime64[ns]
 3   CMPLNT_FR_TM       555040 non-null  datetime64[ns]
 4   CMPLNT_TO_DT       520377 non-null  datetime64[ns]
 5   CMPLNT_TO_TM       520792 non-null  datetime64[ns]
 6   CRM_ATPT_CPTD_CD   555040 non-null  object
 7   JURISDICTION_CODE  555040 non-null  int64
 8   JURIS_DESC         555040 non-null  object
 9   KY_CD              555040 non-null  int64
 10  LAW_CAT_CD         555040 non-null  object
 11  LOC_OF_OCCUR_DESC  555040 non-null  object
 12  OFNS_DESC          555040 non-null  object
 13  PATROL_BORO        555040 non-null  object
 14  PD_CD              555040 non-null  object
 15  PD_DESC            555040 non-null  object
 16  PREM_TYP_DESC      555040 non-null  object
 17  RPT_DT             555040 non-null  datetime64[ns]
 18  SUSP_AGE_GROUP     555040 non-null  object
 19  SUSP_RACE          555040 non-null  object
 20  SUSP_SEX           555040 non-null  object
 21  VIC_AGE_GROUP      555040 non-null  object
 22  VIC_RACE           555040 non-null  object
 23  VIC_SEX            555040 non-null  object
 24  X_COORD_CD         555040 non-null  float64
 25  Y_COORD_CD         555040 non-null  float64
 26  Latitude           555040 non-null  float64
 27  Longitude          555040 non-null  float64
dtypes: datetime64[ns](5), float64(4), int64(2), object(17)
memory usage: 122.8+ MB

#### Handle anomalous values in `SUSP_AGE_GROUP` and `VIC_AGE_GROUP` columns before encoding

In [25]:
# First, get their unique values
unique_susp_age_groups = df['SUSP_AGE_GROUP'].unique()
print("Unique SUSP_AGE_GROUP values:")
print(unique_susp_age_groups)

unique_vic_age_groups = df['VIC_AGE_GROUP'].unique()
print("\nUnique VIC_AGE_GROUP values:")
print(unique_vic_age_groups)

Unique SUSP_AGE_GROUP values:
['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+' '929' '-62' '2023' '-956'
 '-953' '-6' '1022' '953' '925' '1023' '-951' '-963' '938' '-2' '967'
 '964' '942' '-47' '-976' '927' '-1' '-5' '933']

Unique VIC_AGE_GROUP values:
['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24' '-970' '-6' '-60' '-30'
 '1022' '-964' '-58' '-61' '-968' '1023' '962' '-3' '1018' '-971' '-2'
 '-929' '953' '-46' '-64' '1020' '-953' '-975' '-962' '1013' '949' '-932'
 '-10' '-961' '-33']

In [26]:
# Replace NaN values with 'UNKNOWN' in SUSP_AGE_GROUP and VIC_AGE_GROUP
df['SUSP_AGE_GROUP'].fillna('UNKNOWN', inplace=True)
df['VIC_AGE_GROUP'].fillna('UNKNOWN', inplace=True)

print(df['SUSP_AGE_GROUP'].unique())
print(df['VIC_AGE_GROUP'].unique())

['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+' '929' '-62' '2023' '-956'
 '-953' '-6' '1022' '953' '925' '1023' '-951' '-963' '938' '-2' '967'
 '964' '942' '-47' '-976' '927' '-1' '-5' '933']
['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24' '-970' '-6' '-60' '-30'
 '1022' '-964' '-58' '-61' '-968' '1023' '962' '-3' '1018' '-971' '-2'
 '-929' '953' '-46' '-64' '1020' '-953' '-975' '-962' '1013' '949' '-932'
 '-10' '-961' '-33']

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2206176929.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SUSP_AGE_GROUP'].fillna('UNKNOWN', inplace=True)
/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2206176929.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VIC_AGE_GROUP'].fillna('UNKNOWN', inplace=True)

In [27]:
valid_age_groups = {'<18', '18-24', '25-44', '45-64', '65+', 'UNKNOWN'}

In [28]:
# Handle anomalous values (e.g. -953, 1013)

# First, count anomalous values
anomalous_susp_age = df[~df['SUSP_AGE_GROUP'].isin(valid_age_groups)]
count_anomalous_susp_age = anomalous_susp_age.shape[0]

anomalous_vic_age = df[~df['VIC_AGE_GROUP'].isin(valid_age_groups)]
count_anomalous_vic_age = anomalous_vic_age.shape[0]

print(f"Anomalous SUSP_AGE_GROUP values: {count_anomalous_susp_age}")
print(f"Anomalous VIC_AGE_GROUP values: {count_anomalous_vic_age}")

Anomalous SUSP_AGE_GROUP values: 78
Anomalous VIC_AGE_GROUP values: 40

In [29]:
# Replace anomalous values with 'UNKNOWN'
df['SUSP_AGE_GROUP'] = df['SUSP_AGE_GROUP'].apply(lambda x: x if x in valid_age_groups else 'UNKNOWN')
df['VIC_AGE_GROUP'] = df['VIC_AGE_GROUP'].apply(lambda x: x if x in valid_age_groups else 'UNKNOWN')

print("Unique SUSP_AGE_GROUP values after replacement:", df['SUSP_AGE_GROUP'].unique())
print("Unique VIC_AGE_GROUP values after replacement:", df['VIC_AGE_GROUP'].unique())

Unique SUSP_AGE_GROUP values after replacement: ['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+']
Unique VIC_AGE_GROUP values after replacement: ['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24']

#### Encode Rest of the Categorical Variables

In [30]:
columns_left = ['BORO_NM', 'CRM_ATPT_CPTD_CD', 'JURIS_DESC', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 
                'OFNS_DESC', 'PATROL_BORO', 'PD_DESC', 'PREM_TYP_DESC', 'SUSP_AGE_GROUP', 'SUSP_SEX', 
                'SUSP_RACE', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

In [31]:
unique_values = {}
for column in columns_left:
    unique_values[column] = df[column].unique()

for column, values in unique_values.items():
    print(f"Unique values for column '{column}': {values}")

Unique values for column 'BORO_NM': ['BRONX' 'STATEN ISLAND' 'BROOKLYN' 'MANHATTAN' 'UNKNOWN' 'QUEENS']
Unique values for column 'CRM_ATPT_CPTD_CD': ['COMPLETED' 'ATTEMPTED']
Unique values for column 'JURIS_DESC': ['N.Y. POLICE DEPT' 'N.Y. HOUSING POLICE' 'OTHER' 'STATN IS RAPID TRANS'
 'MTA POLICE DEPT' 'N.Y. STATE POLICE' 'PORT AUTHORITY'
 'NEW YORK CITY SHERIFF OFFICE' 'U.S. PARK POLICE' 'METRO NORTH'
 'NYC PARKS' 'TRI-BORO BRDG TUNNL' 'DEPT OF CORRECTIONS'
 'DISTRICT ATTORNEY OFFICE' 'N.Y. TRANSIT POLICE'
 'NYS DEPT TAX AND FINANCE' 'LONG ISLAND RAILRD' 'AMTRACK'
 'N.Y.C. DEPT OF PROBATION' 'HEALTH & HOSP CORP'
 'N.Y.C. DEPT OF HOMELESS SERVICES' 'N.Y. STATE PARKS']
Unique values for column 'LAW_CAT_CD': ['FELONY' 'MISDEMEANOR' 'VIOLATION']
Unique values for column 'LOC_OF_OCCUR_DESC': ['UNKNOWN' 'FRONT OF' 'INSIDE' 'OPPOSITE OF' 'REAR OF' 'OUTSIDE']
Unique values for column 'OFNS_DESC': ['ROBBERY' 'FORGERY' 'FELONY ASSAULT' 'DANGEROUS DRUGS'
 'ASSAULT 3 & RELATED OFFENSES' 'VEHICLE AND TRAFFIC LAWS' 'BURGLARY'
 'SEX CRIMES' 'PETIT LARCENY' 'OTHER OFFENSES RELATED TO THEF'
 'CRIMINAL MISCHIEF & RELATED OF' 'GRAND LARCENY OF MOTOR VEHICLE'
 'HARRASSMENT 2' 'FRAUDS' 'OFF. AGNST PUB ORD SENSBLTY &' 'GRAND LARCENY'
 'INTOXICATED & IMPAIRED DRIVING' 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED'
 'MISCELLANEOUS PENAL LAW' 'DANGEROUS WEAPONS' 'THEFT-FRAUD' 'ARSON'
 'UNAUTHORIZED USE OF A VEHICLE' 'OFFENSES AGAINST PUBLIC ADMINI'
 'NYS LAWS-UNCLASSIFIED FELONY' 'MURDER & NON-NEGL. MANSLAUGHTER'
 'CRIMINAL TRESPASS' 'RAPE' 'OFFENSES INVOLVING FRAUD'
 'OTHER STATE LAWS (NON PENAL LA' 'PROSTITUTION & RELATED OFFENSES'
 'OFFENSES AGAINST THE PERSON' 'OFFENSES AGAINST PUBLIC SAFETY'
 'POSSESSION OF STOLEN PROPERTY' 'CANNABIS RELATED OFFENSES'
 'KIDNAPPING & RELATED OFFENSES' 'OTHER STATE LAWS' 'ADMINISTRATIVE CODE'
 'ENDAN WELFARE INCOMP' 'UNKNOWN' 'NYS LAWS-UNCLASSIFIED VIOLATION'
 'ESCAPE 3' 'HOMICIDE-NEGLIGENT,UNCLASSIFIE' "BURGLAR'S TOOLS"
 'PETIT LARCENY OF MOTOR VEHICLE' 'CHILD ABANDONMENT/NON SUPPORT'
 'GAMBLING' 'JOSTLING' 'ALCOHOLIC BEVERAGE CONTROL LAW'
 'OFFENSES RELATED TO CHILDREN' 'INTOXICATED/IMPAIRED DRIVING'
 'ANTICIPATORY OFFENSES' 'DISRUPTION OF A RELIGIOUS SERV' 'KIDNAPPING'
 'FRAUDULENT ACCOSTING' 'THEFT OF SERVICES' 'NEW YORK CITY HEALTH CODE'
 'OTHER TRAFFIC INFRACTION' 'DISORDERLY CONDUCT' 'FELONY SEX CRIMES'
 'FORTUNE TELLING' 'HOMICIDE-NEGLIGENT-VEHICLE'
 'UNLAWFUL POSS. WEAP. ON SCHOOL' 'LOITERING']
Unique values for column 'PATROL_BORO': ['PATROL BORO BRONX' 'PATROL BORO STATEN ISLAND' 'PATROL BORO BKLYN SOUTH'
 'PATROL BORO MAN SOUTH' 'PATROL BORO BKLYN NORTH'
 'PATROL BORO QUEENS NORTH' 'PATROL BORO MAN NORTH'
 'PATROL BORO QUEENS SOUTH']
Unique values for column 'PD_DESC': ['ROBBERY,BICYCLE' 'FORGERY,M.V. REGISTRATION' 'STRANGULATION 1ST'
 'CONTROLLED SUBSTANCE, POSSESSI' 'MENACING,UNCLASSIFIED' 'ASSAULT 3'
 'TRAFFIC,UNCLASSIFIED MISDEMEAN' 'ASSAULT 2,1,UNCLASSIFIED'
 'BURGLARY,RESIDENCE,NIGHT' 'SEXUAL ABUSE 3,2'
 'LARCENY,PETIT OF VEHICLE ACCES' 'THEFT OF SERVICES, UNCLASSIFIE'
 'LARCENY,PETIT BY FALSE PROMISE' 'CRIMINAL MISCHIEF,UNCLASSIFIED 4'
 'LARCENY,GRAND OF AUTO' 'HARASSMENT,SUBD 1,CIVILIAN'
 'OBSTR BREATH/CIRCUL' 'FRAUD,UNCLASSIFIED-MISDEMEANOR'
 'AGGRAVATED HARASSMENT 2' 'LARCENY,GRAND BY DISHONEST EMP'
 'ROBBERY,PERSONAL ELECTRONIC DEVICE' 'INTOXICATED DRIVING,ALCOHOL'
 'HARASSMENT,SUBD 3,4,5' 'LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)'
 'LARCENY,PETIT FROM BUILDING,UN' 'LARCENY,GRAND FROM STORE-SHOPL'
 'NEGLECT/POISON ANIMAL' 'LARCENY,PETIT OF BICYCLE'
 'CHILD, ENDANGERING WELFARE' 'LARCENY,PETIT FROM STORE-SHOPL'
 'LARCENY,PETIT FROM OPEN AREAS,' 'BURGLARY,COMMERCIAL,NIGHT'
 'LARCENY,PETIT FROM AUTO' 'CRIMINAL CONTEMPT 1'
 'LARCENY,GRAND FROM PERSON,PURS' 'CRIMINAL POSSESSION WEAPON'
 'MISCHIEF, CRIMINAL 3 & 2, OF M' 'FRAUD,UNCLASSIFIED-FELONY'
 'SEXUAL ABUSE' 'MISCHIEF, CRIMINAL 4, OF MOTOR'
 'LARCENY,GRAND FROM EATERY, UNATTENDED'
 'LARCENY,PETIT FROM BUILDING,UNATTENDED, PACKAGE THEFT INSIDE'
 'ARSON, MOTOR VEHICLE 1 2 3 & 4' 'WEAPONS POSSESSION 3'
 'UNAUTHORIZED USE VEHICLE 3' 'LEAVING SCENE-ACCIDENT-PERSONA'
 'LARCENY,GRAND BY FALSE PROMISE-NOT IN PERSON CONTACT'
 'TRESPASS 4,CRIMINAL SUB 2' 'LARCENY,PETIT OF LICENSE PLATE'
 'FORGERY,ETC.,UNCLASSIFIED-FELO' 'MISCHIEF,CRIMINAL,    UNCL 2ND'
 'LARCENY,PETIT FROM BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE'
 'CONTEMPT,CRIMINAL'
 'LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UNATTENDED'
 'LARCENY,GRAND BY OPEN/COMPROMISE CELL PHONE ACCT'
 'LARCENY,GRAND FROM VEHICLE/MOTORCYCLE' 'PUBLIC ADMINISTATION,UNCLASS M'
 'RECKLESS ENDANGERMENT 1' 'VIOLATION OF ORDER OF PROTECTI'
 'LARCENY,GRAND BY ACQUIRING LOST CREDIT CARD'
 'LARCENY,GRAND BY CREDIT CARD ACCT COMPROMISE-EXISTING ACCT' 'SODOMY 1'
 'LARCENY,GRAND BY FALSE PROMISE-IN PERSON CONTACT'
 'NY STATE LAWS,UNCLASSIFIED FEL'
 'LARCENY,GRAND BY BANK ACCT COMPROMISE-REPRODUCED CHECK'
 'LARCENY,PETIT BY CHECK USE' 'ROBBERY,LICENSED FOR HIRE VEHICLE'
 'ROBBERY,HOME INVASION' 'ASSAULT POLICE/PEACE OFFICER'
 'CRIMINAL MISCHIEF 4TH, GRAFFIT' 'LARCENY,PETIT BY CREDIT CARD U'
 'UNKNOWN' 'CONTROLLED SUBSTANCE,INTENT TO'
 'LARCENY,GRAND BY BANK ACCT COMPROMISE-UNCLASSIFIED'
 'LARCENY,GRAND OF VEHICULAR/MOTORCYCLE ACCESSORIES'
 'CONTROLLED SUBSTANCE, SALE 5' 'TRESPASS 2, CRIMINAL'
 'LARCENY,GRAND BY BANK ACCT COMPROMISE-TELLER'
 'LARCENY,GRAND FROM RETAIL STORE, UNATTENDED'
 'LARCENY,GRAND FROM RESIDENCE, UNATTENDED'
 'LARCENY,GRAND BY THEFT OF CREDIT CARD' 'RAPE 3' 'BURGLARY,RESIDENCE,DAY'
 'LARCENY,GRAND BY BANK ACCT COMPROMISE-ATM TRANSACTION'
 'LARCENY,GRAND BY EXTORTION' 'FORGERY,ETC.-MISD.'
 'IMPERSONATION 1, POLICE OFFICE' 'RESISTING ARREST'
 'RECKLESS ENDANGERMENT OF PROPE' 'COMPUTER UNAUTH. USE/TAMPER'
 'BURGLARY,RESIDENCE,UNKNOWN TIM' 'UNAUTHORIZED USE VEHICLE 2'
 'NY STATE LAWS,UNCLASSIFIED MIS' 'PROSTITUTION'
 'ROBBERY,BEGIN AS SHOPLIFTING' 'ROBBERY,NECKCHAIN/JEWELRY'
 'IMPRISONMENT 2,UNLAWFUL' 'WEAPONS, POSSESSION, ETC'
 'LARCENY,GRAND FROM PERSON,UNCL' 'BURGLARY,COMMERCIAL,DAY'
 'FORGERY,DRIVERS LICENSE' 'RECKLESS ENDANGERMENT 2'
 'IMPERSONATION 2, PUBLIC SERVAN' 'LARCENY,GRAND PERSON,NECK CHAI'
 'ROBBERY,OPEN AREA UNCLASSIFIED' 'TRESPASS 3, CRIMINAL'
 'CONTROLLED SUBSTANCE,POSSESS.'
 'LARCENY,GRAND FROM OPEN AREAS, UNATTENDED' 'BURGLARY,TRUCK NIGHT'
 'TAX LAW' 'AGGRAVATED HARASSMENT 1' 'TRESPASS 1,CRIMINAL'
 'ROBBERY,DWELLING' 'RECKLESS DRIVING' 'CONTROLLED SUBSTANCE,SALE 1'
 'MENACING 1ST DEGREE (VICT NOT'
 'LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC DEVICE(SNATCH)'
 'LARCENY,GRAND BY ACQUIRING LOS' 'CONTROLLED SUBSTANCE, SALE 4'
 'PUBLIC SAFETY,UNCLASSIFIED MIS' 'FALSE REPORT UNCLASSIFIED'
 'BURGLARY,UNCLASSIFIED,NIGHT' 'SEXUAL MISCONDUCT,INTERCOURSE'
 'LARCENY,GRAND FROM NIGHT CLUB, UNATTENDED'
 'PETIT LARCENY-CHECK FROM MAILB' 'STOLEN PROPERTY 2,1,POSSESSION'
 'BURGLARY,TRUCK DAY' 'CONTROLLED SUBSTANCE,SALE 3'
 'MAKING TERRORISTIC THREAT' 'OBSCENE MATERIAL - UNDER 17 YE' 'RAPE 1'
 'CRIMINAL MIS 2 & 3' 'MATERIAL              OFFENSIV'
 'LARCENY,GRAND OF MOTORCYCLE' 'LARCENY,PETIT BY DISHONEST EMP'
 'PERJURY 2,1,ETC' 'CANNABIS POSSESSION, 2&1' 'LARCENY,PETIT FROM TRUCK'
 'LARCENY,PETIT BY ACQUIRING LOS' 'ROBBERY,COMMERCIAL UNCLASSIFIED'
 'KIDNAPPING 2' 'LARCENY,GRAND FROM PERSON,PICK'
 'LARCENY,GRAND BY OPEN BANK ACCT' 'NY STATE LAWS,UNCLASSIFIED VIO'
 'RAPE 2' 'ROBBERY,POCKETBOOK/CARRIED BAG' 'LEWDNESS,PUBLIC'
 'ROBBERY,CAR JACKING' 'ADM.CODE,UNCLASSIFIED MISDEMEA'
 'STOLEN PROP-MOTOR VEHICLE 3RD,'
 'LARCENY,GRAND BY IDENTITY THEFT-UNCLASSIFIED' 'CUSTODIAL INTERFERENCE 1'
 'COERCION 1' 'STOLEN PROPERTY 3,POSSESSION' 'MARIJUANA, SALE 4 & 5'
 'INCOMPETENT PERSON,KNOWINGLY ENDANGERING' 'ROBBERY,LIQUOR STORE'
 'OBSCENITY 1' 'AGGRAVATED CRIMINAL CONTEMPT'
 'STOLEN PROPERTY-MOTOR VEH 2ND,' 'ROBBERY,BODEGA/CONVENIENCE STORE'
 'SEX TRAFFICKING' 'CONTROLLED SUBSTANCE, INTENT T'
 'LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE'
 'ASSAULT OTHER PUBLIC SERVICE EMPLOYEE' 'TERRORISM PROVIDE SUPPORT'
 'FORGERY-ILLEGAL POSSESSION,VEH' 'BURGLARY,UNCLASSIFIED,DAY'
 'INAPPROPIATE SHELTER DOG LEFT' 'MISCHIEF, CRIMINAL 4, BY FIRE'
 'ROBBERY,CLOTHING' 'INCOMPETENT PERSON,RECKLESSY ENDANGERING'
 'LARCENY, GRAND OF AUTO - ATTEM' 'IMPAIRED DRIVING,DRUG'
 'LARCENY,GRAND FROM BOAT, UNATTENDED' 'IMPRISONMENT 1,UNLAWFUL'
 'MENACING,PEACE OFFICER' 'MISCHIEF 1,CRIMINAL,EXPLOSIVE' 'ABANDON ANIMAL'
 'LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT INSIDE'
 'ROBBERY,PUBLIC PLACE INSIDE' 'TAMPERING 3,2, CRIMINAL' 'ESCAPE 3'
 'SUPP. ACT TERR 2ND' 'PROMOTING A SEXUAL PERFORMANCE' 'CRIM POS WEAP 4'
 'LARCENY,GRAND FROM TRUCK, UNATTENDED' 'FORGERY,PRESCRIPTION'
 'CUSTODIAL INTERFERENCE 2' 'OBSCENITY, MATERIAL 3'
 'LARCENY,GRAND BY BANK ACCT COMPROMISE-UNAUTHORIZED PURCHASE'
 'LARCENY,GRAND FROM PERSON, BAG OPEN/DIP' 'ROBBERY,GAS STATION'
 'CONTROLLED SUBSTANCE,SALE 2' 'CAUSE SPI/KILL ANIMAL'
 'BURGLARY,COMMERCIAL,UNKNOWN TI' 'HOMICIDE,NEGLIGENT,UNCLASSIFIE'
 'TORTURE/INJURE ANIMAL CRUELTY' 'CRIMINAL DISPOSAL FIREARM 1'
 'LARCENY,PETIT FROM BOAT' 'RAPE 1,ATTEMPT' 'SALE SCHOOL GROUNDS 4'
 'ASSAULT SCHOOL SAFETY AGENT' 'ROBBERY,RESIDENTIAL COMMON AREA'
 'ROBBERY,ON BUS/ OR BUS DRIVER' 'PETIT LARCENY OF ANIMAL'
 'PUBLIC ADMINISTRATION,UNCLASSI' 'BRIBERY, POLICE OFFICER'
 'MARIJUANA, POSSESSION' 'SODOMY 2' 'BRIBERY,PUBLIC ADMINISTRATION'
 'CANNABIS POSSESSION' 'CANNABIS SALE, 3' 'LARCENY, GRAND OF MOPED'
 'ARSON 2,3,4' 'LARCENY,GRAND OF BICYCLE' 'ROBBERY, CHAIN STORE'
 'UNLAWFUL DISCLOSURE OF AN INTIMATE IMAGE'
 'ALCOHOLIC BEVERAGES,PUBLIC CON' 'ROBBERY,DELIVERY PERSON'
 'BURGLARS TOOLS,UNCLASSIFIED' 'LARCENY, PETIT OF AUTO - ATTEM'
 'BAIL JUMPING 1 & 2' 'AIRPOLLUTION' 'MISCHIEF, CRIMINAL 3&2, BY FIR'
 'ROBBERY,CHECK CASHING BUSINESS' 'LARCENY, PETIT OF MOPED'
 'POSSES OR CARRY A KNIFE' 'FACILITATION 3,2,1, CRIMINAL'
 'ROBBERY,PHARMACY' 'CANNABIS SALE' 'ROBBERY,BANK' 'ESCAPE 2,1'
 'END WELFARE VULNERABLE ELDERLY PERSON' 'BURGLARY,UNCLASSIFIED,UNKNOWN'
 'CHILD ABANDONMENT' 'SEXUAL MISCONDUCT,DEVIATE' 'PERJURY 3,ETC.'
 'BAIL JUMPING 3' 'DRUG PARAPHERNALIA,   POSSESSE'
 'VEHICULAR ASSAULT (INTOX DRIVE' 'COURSE OF SEXUAL CONDUCT AGAIN'
 'AGGRAVATED SEXUAL ASBUSE' 'GAMBLING 2,PROMOTING,UNCLASSIF'
 'AGRICULTURE & MARKETS LAW,UNCL' 'GRAFFITI (ADMINISTRATIVE CODE-'
 'FALSE REPORT 1,FIRE' 'N.Y.C. TRANSIT AUTH. R&R'
 'LARCENY,GRAND FROM PERSON,LUSH WORKER(SLEEPING/UNCON VICTIM)' 'JOSTLING'
 'COERCION 2' 'PROSTITUTION,PERMITTING' 'BURGLARY, TRUCK UNKNOWN TIME'
 'THEFT,RELATED OFFENSES,UNCLASS' 'ALCOHOLIC BEVERAGE CONTROL LAW'
 'CHILD,ALCOHOL SALE TO' 'TAMPERING 1,CRIMINAL' 'SOLICITATION 4, CRIMINAL'
 'CANNABIS POSSESSION, 3' 'LARCENY,PETIT OF AUTO' 'CHECK,BAD'
 'PROSTITUTION 3,PROMOTING BUSIN' 'LARCENY,GRAND FROM PIER, UNATTENDED'
 'LARCENY,PETIT FROM PIER' 'BRIBERY,FRAUD'
 'LEAVING THE SCENE OF AN ACCIDENT (SPI)' 'ROBBERY,BAR/RESTAURANT'
 'MENACING 1ST DEGREE (VICT PEAC' 'FALSE REPORT BOMB' 'FIREWORKS, SALE'
 'ADM.CODE,UNCLASSIFIED VIOLATIO' 'USURY,CRIMINAL'
 'LARCENY,PETIT OF MOTORCYCLE' 'GAMBLING, DEVICE, POSSESSION'
 'ROBBERY,OF TRUCK DRIVER' 'SALE OF UNAUTHORIZED RECORDING'
 'GAMBLING 1,PROMOTING,POLICY' 'SODOMY 3' 'EXPOSURE OF A PERSON'
 'ROBBERY,ATM LOCATION' 'MONEY LAUNDERING 1 & 2'
 'FACILITATION 4, CRIMINAL' 'LARCENY,GRAND OF TRUCK' 'CONSPIRACY 4, 3'
 'ASSAULT TRAFFIC AGENT' 'CONSPIRACY 2, 1' 'ASSEMBLY,UNLAWFUL'
 'DIS. CON.,AGGRAVATED' 'ROBBERY,LICENSED MEDALLION CAB' 'KIDNAPPING 1'
 'PUBLIC HEALTH LAW,UNCLASSIFIED' 'LURING A CHILD'
 'CRIM USE BIO OR CHEM WEAPON' 'FALSE ALARM FIRE' 'ACCOSTING,FRAUDULENT'
 'UNAUTH. SALE OF TRANS. SERVICE' 'STOLEN PROPERTY 2,POSSESSION B'
 'HEALTH CODE,VIOLATION' 'RIOT 2/INCITING'
 'PROSTITUTION 4,PROMOTING&SECUR' 'PARKR&R,UNCLASSIFIED VIOLATION'
 'MARIJUANA, POSSESSION 1, 2 & 3' 'SOLICITATION 5,CRIMINAL'
 'PUBLIC HEALTH LAW,GLUE,UNLAWFU' 'TRAFFIC,UNCLASSIFIED INFRACTIO'
 'NOISE,UNECESSARY' 'USE OF A CHILD IN A SEXUAL PER' 'DISORDERLY CONDUCT'
 'OBSCENITY, PERFORMANCE 3' 'RIOT 1' 'SALES OF PRESCRIPTION'
 'STALKING COMMIT SEX OFFENSE' 'COMPUTER TAMPER/TRESSPASS'
 'THEFT OF SERVICES- CABLE TV SE' 'LARCENY,PETIT FROM COIN MACHIN'
 'IMITATION PISTOL/AIR RIFLE' 'HEALTH CODE,UNCLASSIFIED MISDE'
 'CONSPIRACY 6, 5' 'AGGRAVATED GRAND LARCENY OF ATM' 'FORTUNE TELLING'
 'A.B.C.,FALSE PROOF OF AGE' 'RECORDS,FALSIFY-TAMPER'
 'CONTROLLED SUBSTANCE,POSSESS.-' 'EAVESDROPPING' 'PLACE FALSE BOMB'
 'INCEST 3' 'ROBBERY,UNLICENSED FOR HIRE VEHICLE'
 'HOMICIDE, NEGLIGENT, VEHICLE,' 'CONFINING ANIMAL IN VEHICLE/SHELTER'
 'UNLAWFUL SALE SYNTHETIC MARIJUANA' 'TAMPERING WITH A WITNESS'
 'UNLAWFUL POSS. WEAPON UPON SCH' 'GAMBLING 2, PROMOTING, POLICY-'
 'FIREWORKS, POSSESS/USE' 'POSS METH MANUFACT MATERIAL'
 'LARCENY,GRAND OF BOAT' 'ARSON 1' 'NUISANCE,CRIMINAL,UNCLASSIFIED'
 'SEX CRIMES' 'CANNABIS SALE, 2&1' 'ROBBERY, PAYROLL'
 'GAMBLING 2, PROMOTING, BOOKMAK' 'LARCENY,PETIT FROM PARKING MET'
 'LOITERING,UNCLASSIFIED' 'MARIJUANA, POSSESSION 4 & 5'
 'RADIO DEVICES,UNLAWFUL POSSESS' 'ENTERPRISE CORRUPTION'
 'ROBBERY,HIJACKING' 'PROSTITUTION 1, UNDER 11'
 'SMOKING TRANSPORTATION FACILIT' 'GENERAL BUSINESS LAW,TICKET SP'
 'CHILD,OFFENSES AGAINST,UNCLASS' 'FIREARMS LICENSING LAWS'
 'HEALTHCARE/RENT.REG.' 'PROSTITUTION, PATRONIZING 4, 3'
 'DRUG, INJECTION OF' 'POSSESS PARAPHERNALIA/ANIMAL FIGHTING'
 'SALE SCHOOL GROUNDS' 'UNFINSH FRAME 2'
 'ATTEND/SPECTATOR ANIMAL FIGHTING' 'CANNABIS SALE, AGGRAVATED'
 'MARIJUANA, SALE 1, 2 & 3' 'EDUCATION LAW'
 'ABSCONDING FROM WORK RELEASE 2' 'GYPSY CAB']
Unique values for column 'PREM_TYP_DESC': ['STREET' 'RESIDENCE-HOUSE' 'BAR/NIGHT CLUB' 'SOCIAL CLUB/POLICY'
 'UNKNOWN' 'HOMELESS SHELTER' 'OTHER' 'COMMERCIAL BUILDING'
 'BUS (NYC TRANSIT)' 'BUS (OTHER)' 'CHAIN STORE'
 'RESIDENCE - PUBLIC HOUSING' 'STORE UNCLASSIFIED'
 'PARKING LOT/GARAGE (PUBLIC)' 'DEPARTMENT STORE' 'RESIDENCE - APT. HOUSE'
 'GROCERY/BODEGA' 'PUBLIC SCHOOL' 'GYM/FITNESS FACILITY'
 'DOCTOR/DENTIST OFFICE' 'GAS STATION' 'PARK/PLAYGROUND'
 'RESTAURANT/DINER' 'HOSPITAL' 'ATM' 'CHURCH' 'BANK' 'FOOD SUPERMARKET'
 'FAST FOOD' 'PARKING LOT/GARAGE (PRIVATE)' 'CLOTHING/BOUTIQUE'
 'CHECK CASHING BUSINESS' 'PVT HOUSE' 'HIGHWAY/PARKWAY' 'DRUG STORE'
 'CANDY STORE' 'STORAGE FACILITY' 'PUBLIC BUILDING' 'BOOK/CARD'
 'HOTEL/MOTEL' 'DRY CLEANER/LAUNDRY' 'LIQUOR STORE' 'FACTORY/WAREHOUSE'
 'SMALL MERCHANT' 'JEWELRY' 'PRIVATE/PAROCHIAL SCHOOL'
 'OPEN AREAS (OPEN LOTS)' 'TELECOMM. STORE' 'SHOE' 'COLLEGE/UNIVERSITY'
 'BUS STOP' 'TRANSIT FACILITY (OTHER)' 'TAXI (LIVERY LICENSED)'
 'MAILBOX OUTSIDE' 'BEAUTY & NAIL SALON' 'MARINA/PIER'
 'OTHER HOUSE OF WORSHIP' 'CONSTRUCTION SITE' 'VARIETY STORE' 'TUNNEL'
 'BRIDGE' 'BUS TERMINAL' 'DAYCARE FACILITY' 'CEMETERY'
 'MULTI DWELL - APT BUILD' 'SMOKE SHOP' 'ABANDONED BUILDING' 'MOSQUE'
 'REAL ESTATE' 'SYNAGOGUE' 'FERRY/FERRY TERMINAL' 'MAILBOX INSIDE'
 'LOAN COMPANY' 'MULTI DWELL - PUBLIC HOUS' 'TRANSIT - NYC SUBWAY'
 'AIRPORT TERMINAL' 'TAXI (YELLOW LICENSED)' 'MOBILE FOOD' 'VIDEO STORE'
 'PHOTO/COPY' 'TRAMWAY' 'TAXI/LIVERY (UNLICENSED)' 'COMMERCIAL BLDG'
 'BEAUTY/NAIL SALON']
Unique values for column 'SUSP_AGE_GROUP': ['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+']
Unique values for column 'SUSP_SEX': ['M' 'F' 'U' 'UNKNOWN']
Unique values for column 'SUSP_RACE': ['BLACK' 'WHITE' 'WHITE HISPANIC' 'UNKNOWN' 'BLACK HISPANIC'
 'ASIAN / PACIFIC ISLANDER' 'AMERICAN INDIAN/ALASKAN NATIVE']
Unique values for column 'VIC_AGE_GROUP': ['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24']
Unique values for column 'VIC_RACE': ['BLACK HISPANIC' 'UNKNOWN' 'BLACK' 'WHITE' 'WHITE HISPANIC'
 'ASIAN / PACIFIC ISLANDER' 'AMERICAN INDIAN/ALASKAN NATIVE']
Unique values for column 'VIC_SEX': ['M' 'E' 'F' 'D' 'L']

First encode all columns except for `JURIS_DESC`, `OFNS_DESC`, `PD_DESC`, `PREM_TYP_DESC`, which have long and/or various values.

In [32]:
columns_to_exclude = ['JURIS_DESC', 'OFNS_DESC', 'PD_DESC', 'PREM_TYP_DESC']
columns_to_encode = [col for col in columns_left if col not in columns_to_exclude]

In [33]:
print(columns_to_encode)
for column in columns_to_encode:
    unique_values = df[column].unique()
    print(f"Unique values for column '{column}': {unique_values}")

['BORO_NM', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'PATROL_BORO', 'SUSP_AGE_GROUP', 'SUSP_SEX', 'SUSP_RACE', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']
Unique values for column 'BORO_NM': ['BRONX' 'STATEN ISLAND' 'BROOKLYN' 'MANHATTAN' 'UNKNOWN' 'QUEENS']
Unique values for column 'CRM_ATPT_CPTD_CD': ['COMPLETED' 'ATTEMPTED']
Unique values for column 'LAW_CAT_CD': ['FELONY' 'MISDEMEANOR' 'VIOLATION']
Unique values for column 'LOC_OF_OCCUR_DESC': ['UNKNOWN' 'FRONT OF' 'INSIDE' 'OPPOSITE OF' 'REAR OF' 'OUTSIDE']
Unique values for column 'PATROL_BORO': ['PATROL BORO BRONX' 'PATROL BORO STATEN ISLAND' 'PATROL BORO BKLYN SOUTH'
 'PATROL BORO MAN SOUTH' 'PATROL BORO BKLYN NORTH'
 'PATROL BORO QUEENS NORTH' 'PATROL BORO MAN NORTH'
 'PATROL BORO QUEENS SOUTH']
Unique values for column 'SUSP_AGE_GROUP': ['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+']
Unique values for column 'SUSP_SEX': ['M' 'F' 'U' 'UNKNOWN']
Unique values for column 'SUSP_RACE': ['BLACK' 'WHITE' 'WHITE HISPANIC' 'UNKNOWN' 'BLACK HISPANIC'
 'ASIAN / PACIFIC ISLANDER' 'AMERICAN INDIAN/ALASKAN NATIVE']
Unique values for column 'VIC_AGE_GROUP': ['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24']
Unique values for column 'VIC_RACE': ['BLACK HISPANIC' 'UNKNOWN' 'BLACK' 'WHITE' 'WHITE HISPANIC'
 'ASIAN / PACIFIC ISLANDER' 'AMERICAN INDIAN/ALASKAN NATIVE']
Unique values for column 'VIC_SEX': ['M' 'E' 'F' 'D' 'L']

In [34]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)

encoded_columns = encoder.fit_transform(df[columns_to_encode])

encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(columns_to_encode))

df = pd.concat([df.drop(columns=columns_to_encode), encoded_df], axis=1)

In [35]:
df.head()

,ADDR_PCT_CD,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,JURISDICTION_CODE,JURIS_DESC,KY_CD,OFNS_DESC,PD_CD,...,VIC_RACE_BLACK,VIC_RACE_BLACK HISPANIC,VIC_RACE_UNKNOWN,VIC_RACE_WHITE,VIC_RACE_WHITE HISPANIC,VIC_SEX_D,VIC_SEX_E,VIC_SEX_F,VIC_SEX_L,VIC_SEX_M
0,42.0,2023-06-03,2024-04-06 01:00:00,NaT,NaT,0.0,N.Y. POLICE DEPT,105.0,ROBBERY,366.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,43.0,2023-01-18,2024-04-06 14:00:00,NaT,NaT,0.0,N.Y. POLICE DEPT,113.0,FORGERY,725.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,43.0,2023-05-07,2024-04-06 00:15:00,NaT,NaT,0.0,N.Y. POLICE DEPT,106.0,FELONY ASSAULT,105.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,123.0,2023-12-14,2024-04-06 02:50:00,2023-12-14,2024-04-06 02:52:00,0.0,N.Y. POLICE DEPT,235.0,DANGEROUS DRUGS,511.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
10,121.0,2023-12-04,2024-04-06 15:53:00,2023-12-04,2024-04-06 16:00:00,0.0,N.Y. POLICE DEPT,344.0,ASSAULT 3 & RELATED OFFENSES,113.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

Encode `JURIS_DESC`

In [36]:
unique_values = df['JURIS_DESC'].unique()
print("Unique values for column 'JURIS_DESC':")
print(unique_values)

Unique values for column 'JURIS_DESC':
['N.Y. POLICE DEPT' 'N.Y. HOUSING POLICE' 'OTHER' 'STATN IS RAPID TRANS'
 'MTA POLICE DEPT' 'N.Y. STATE POLICE' 'PORT AUTHORITY'
 'NEW YORK CITY SHERIFF OFFICE' 'U.S. PARK POLICE' 'METRO NORTH'
 'NYC PARKS' 'TRI-BORO BRDG TUNNL' 'DEPT OF CORRECTIONS'
 'DISTRICT ATTORNEY OFFICE' 'N.Y. TRANSIT POLICE'
 'NYS DEPT TAX AND FINANCE' 'LONG ISLAND RAILRD' 'AMTRACK'
 'N.Y.C. DEPT OF PROBATION' 'HEALTH & HOSP CORP'
 'N.Y.C. DEPT OF HOMELESS SERVICES' 'N.Y. STATE PARKS' nan]

In [37]:
frequency = df['JURIS_DESC'].value_counts()

print(frequency)

JURIS_DESC
N.Y. POLICE DEPT                    499014
N.Y. HOUSING POLICE                  35550
N.Y. TRANSIT POLICE                  14683
PORT AUTHORITY                        2267
OTHER                                  941
MTA POLICE DEPT                        609
DEPT OF CORRECTIONS                    543
N.Y. STATE POLICE                      249
NYC PARKS                              210
NEW YORK CITY SHERIFF OFFICE           192
DISTRICT ATTORNEY OFFICE               152
METRO NORTH                            143
HEALTH & HOSP CORP                     120
TRI-BORO BRDG TUNNL                    113
AMTRACK                                 85
N.Y.C. DEPT OF HOMELESS SERVICES        82
N.Y. STATE PARKS                        26
LONG ISLAND RAILRD                      22
N.Y.C. DEPT OF PROBATION                15
U.S. PARK POLICE                        14
NYS DEPT TAX AND FINANCE                 8
STATN IS RAPID TRANS                     2
Name: count, dtype: int64

In [38]:
df.fillna('UNKNOWN', inplace=True)

encoder = OneHotEncoder(sparse_output=False)

juris_encoded = encoder.fit_transform(df[['JURIS_DESC']])

juris_encoded_df = pd.DataFrame(juris_encoded, columns=encoder.get_feature_names_out(['JURIS_DESC']))

df = pd.concat([df.drop('JURIS_DESC', axis=1), juris_encoded_df], axis=1)

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2498664924.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UNKNOWN' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna('UNKNOWN', inplace=True)
/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_55502/2498664924.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UNKNOWN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('UNKNOWN', inplace=True)

Encode `OFNS_DESC`

In [39]:
pd.set_option('display.max_rows', None)

frequency = df['OFNS_DESC'].value_counts()

print(frequency)

OFNS_DESC
PETIT LARCENY                           110061
HARRASSMENT 2                            83954
ASSAULT 3 & RELATED OFFENSES             58322
GRAND LARCENY                            50514
CRIMINAL MISCHIEF & RELATED OF           42339
FELONY ASSAULT                           27845
VEHICLE AND TRAFFIC LAWS                 22934
OFF. AGNST PUB ORD SENSBLTY &            17967
MISCELLANEOUS PENAL LAW                  17527
ROBBERY                                  16905
GRAND LARCENY OF MOTOR VEHICLE           15797
BURGLARY                                 13757
DANGEROUS DRUGS                          13076
SEX CRIMES                                9188
DANGEROUS WEAPONS                         8173
OFFENSES AGAINST PUBLIC ADMINI            7181
FORGERY                                   5638
THEFT-FRAUD                               4280
OFFENSES INVOLVING FRAUD                  3392
INTOXICATED & IMPAIRED DRIVING            3382
FRAUDS                                    2834
OTHER OFFENSES RELATED TO THEF            2530
POSSESSION OF STOLEN PROPERTY             2492
CRIMINAL TRESPASS                         2458
ADMINISTRATIVE CODE                       1712
UNAUTHORIZED USE OF A VEHICLE             1691
OFFENSES AGAINST THE PERSON               1526
RAPE                                      1452
NYS LAWS-UNCLASSIFIED FELONY              1448
ARSON                                      637
OTHER STATE LAWS (NON PENAL LA             632
BURGLAR'S TOOLS                            440
CANNABIS RELATED OFFENSES                  355
PETIT LARCENY OF MOTOR VEHICLE             353
MURDER & NON-NEGL. MANSLAUGHTER            329
THEFT OF SERVICES                          234
GAMBLING                                   212
AGRICULTURE & MRKTS LAW-UNCLASSIFIED       210
OTHER STATE LAWS                           192
OFFENSES AGAINST PUBLIC SAFETY             185
PROSTITUTION & RELATED OFFENSES            163
KIDNAPPING & RELATED OFFENSES              142
JOSTLING                                   101
UNKNOWN                                     94
ALCOHOLIC BEVERAGE CONTROL LAW              90
CHILD ABANDONMENT/NON SUPPORT               76
FRAUDULENT ACCOSTING                        51
DISORDERLY CONDUCT                          40
OFFENSES RELATED TO CHILDREN                35
ESCAPE 3                                    30
HOMICIDE-NEGLIGENT,UNCLASSIFIE              30
ENDAN WELFARE INCOMP                        29
KIDNAPPING                                  15
NEW YORK CITY HEALTH CODE                   13
UNLAWFUL POSS. WEAP. ON SCHOOL              12
INTOXICATED/IMPAIRED DRIVING                11
NYS LAWS-UNCLASSIFIED VIOLATION              9
FELONY SEX CRIMES                            8
ANTICIPATORY OFFENSES                        8
DISRUPTION OF A RELIGIOUS SERV               2
FORTUNE TELLING                              1
HOMICIDE-NEGLIGENT-VEHICLE                   1
OTHER TRAFFIC INFRACTION                     1
LOITERING                                    1
Name: count, dtype: int64

In [40]:
low_freq_categories = frequency[frequency < 500].index.tolist()

print("Values with low frequency (under 500):")
print(low_freq_categories)

Values with low frequency (under 500):
["BURGLAR'S TOOLS", 'CANNABIS RELATED OFFENSES', 'PETIT LARCENY OF MOTOR VEHICLE', 'MURDER & NON-NEGL. MANSLAUGHTER', 'THEFT OF SERVICES', 'GAMBLING', 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED', 'OTHER STATE LAWS', 'OFFENSES AGAINST PUBLIC SAFETY', 'PROSTITUTION & RELATED OFFENSES', 'KIDNAPPING & RELATED OFFENSES', 'JOSTLING', 'UNKNOWN', 'ALCOHOLIC BEVERAGE CONTROL LAW', 'CHILD ABANDONMENT/NON SUPPORT', 'FRAUDULENT ACCOSTING', 'DISORDERLY CONDUCT', 'OFFENSES RELATED TO CHILDREN', 'ESCAPE 3', 'HOMICIDE-NEGLIGENT,UNCLASSIFIE', 'ENDAN WELFARE INCOMP', 'KIDNAPPING', 'NEW YORK CITY HEALTH CODE', 'UNLAWFUL POSS. WEAP. ON SCHOOL', 'INTOXICATED/IMPAIRED DRIVING', 'NYS LAWS-UNCLASSIFIED VIOLATION', 'FELONY SEX CRIMES', 'ANTICIPATORY OFFENSES', 'DISRUPTION OF A RELIGIOUS SERV', 'FORTUNE TELLING', 'HOMICIDE-NEGLIGENT-VEHICLE', 'OTHER TRAFFIC INFRACTION', 'LOITERING']

In [41]:
ofns_mappings = {
    "BURGLAR'S TOOLS": 'THEFT',
    'PROSTITUTION & RELATED OFFENSES': 'SEX CRIMES',
    'FELONY SEX CRIMES': 'SEX CRIMES',
    'KIDNAPPING & RELATED OFFENSES': 'KIDNAPPING',
    'CHILD ABANDONMENT/NON SUPPORT': 'OFFENSES RELATED TO CHILDREN',
    'UNLAWFUL POSS. WEAP. ON SCHOOL': 'DANGEROUS WEAPONS',
    'OFFENSES AGAINST PUBLIC SAFETY': 'PUBLIC SAFETY OFFENSES',
    'DISORDERLY CONDUCT': 'PUBLIC SAFETY OFFENSES',
    'ESCAPE 3': 'PUBLIC SAFETY OFFENSES',
    'ALCOHOLIC BEVERAGE CONTROL LAW': 'REGULATORY OFFENSES',
    'AGRICULTURE & MRKTS LAW-UNCLASSIFIED': 'REGULATORY OFFENSES',
    'OTHER STATE LAWS': 'REGULATORY OFFENSES',
    'NYS LAWS-UNCLASSIFIED VIOLATION': 'REGULATORY OFFENSES',
    'HOMICIDE-NEGLIGENT,UNCLASSIFIE': 'HOMICIDE-NEGLIGENT',
    'HOMICIDE-NEGLIGENT-VEHICLE': 'HOMICIDE-NEGLIGENT'
}

def map_low_freq_offenses(offense):
    if offense in low_freq_categories:
        return ofns_mappings.get(offense, 'OTHER')
    else:
        return offense
        
df['OFNS_DESC'] = df['OFNS_DESC'].apply(map_low_freq_offenses)

In [42]:
unique_values = df['OFNS_DESC'].unique()
print("Unique values for column 'OFNS_DESC':")
print(unique_values)

Unique values for column 'OFNS_DESC':
['ROBBERY' 'FORGERY' 'FELONY ASSAULT' 'DANGEROUS DRUGS'
 'ASSAULT 3 & RELATED OFFENSES' 'VEHICLE AND TRAFFIC LAWS' 'BURGLARY'
 'SEX CRIMES' 'PETIT LARCENY' 'OTHER OFFENSES RELATED TO THEF'
 'CRIMINAL MISCHIEF & RELATED OF' 'GRAND LARCENY OF MOTOR VEHICLE'
 'HARRASSMENT 2' 'FRAUDS' 'OFF. AGNST PUB ORD SENSBLTY &' 'GRAND LARCENY'
 'INTOXICATED & IMPAIRED DRIVING' 'REGULATORY OFFENSES'
 'MISCELLANEOUS PENAL LAW' 'DANGEROUS WEAPONS' 'THEFT-FRAUD' 'ARSON'
 'UNAUTHORIZED USE OF A VEHICLE' 'OFFENSES AGAINST PUBLIC ADMINI'
 'NYS LAWS-UNCLASSIFIED FELONY' 'OTHER' 'CRIMINAL TRESPASS' 'RAPE'
 'OFFENSES INVOLVING FRAUD' 'OTHER STATE LAWS (NON PENAL LA'
 'OFFENSES AGAINST THE PERSON' 'PUBLIC SAFETY OFFENSES'
 'POSSESSION OF STOLEN PROPERTY' 'KIDNAPPING' 'ADMINISTRATIVE CODE'
 'HOMICIDE-NEGLIGENT' 'THEFT' 'OFFENSES RELATED TO CHILDREN']

In [43]:
pd.set_option('display.max_rows', None)

frequency = df['OFNS_DESC'].value_counts()

print(frequency)

OFNS_DESC
PETIT LARCENY                     110061
HARRASSMENT 2                      83954
ASSAULT 3 & RELATED OFFENSES       58322
GRAND LARCENY                      50514
CRIMINAL MISCHIEF & RELATED OF     42339
FELONY ASSAULT                     27845
VEHICLE AND TRAFFIC LAWS           22934
OFF. AGNST PUB ORD SENSBLTY &      17967
MISCELLANEOUS PENAL LAW            17527
ROBBERY                            16905
GRAND LARCENY OF MOTOR VEHICLE     15797
BURGLARY                           13757
DANGEROUS DRUGS                    13076
SEX CRIMES                          9359
DANGEROUS WEAPONS                   8185
OFFENSES AGAINST PUBLIC ADMINI      7181
FORGERY                             5638
THEFT-FRAUD                         4280
OFFENSES INVOLVING FRAUD            3392
INTOXICATED & IMPAIRED DRIVING      3382
FRAUDS                              2834
OTHER OFFENSES RELATED TO THEF      2530
POSSESSION OF STOLEN PROPERTY       2492
CRIMINAL TRESPASS                   2458
OTHER                               1845
ADMINISTRATIVE CODE                 1712
UNAUTHORIZED USE OF A VEHICLE       1691
OFFENSES AGAINST THE PERSON         1526
RAPE                                1452
NYS LAWS-UNCLASSIFIED FELONY        1448
ARSON                                637
OTHER STATE LAWS (NON PENAL LA       632
REGULATORY OFFENSES                  501
THEFT                                440
PUBLIC SAFETY OFFENSES               255
KIDNAPPING                           142
OFFENSES RELATED TO CHILDREN          76
HOMICIDE-NEGLIGENT                    31
Name: count, dtype: int64

In [44]:
encoder = OneHotEncoder(sparse_output=False)

encoded_data = encoder.fit_transform(df[['OFNS_DESC']])

encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['OFNS_DESC']))

df = pd.concat([df.drop('OFNS_DESC', axis=1), encoded_df], axis=1)

Encode `PD_DESC`?? => Left it as it for now

In [53]:
pd.set_option('display.max_rows', None)

frequency = df['PD_DESC'].value_counts()

print(frequency)

PD_DESC
HARASSMENT,SUBD 3,4,5                                                      64807
LARCENY,PETIT FROM STORE-SHOPL                                             51227
ASSAULT 3                                                                  44137
ASSAULT 2,1,UNCLASSIFIED                                                   20770
HARASSMENT,SUBD 1,CIVILIAN                                                 19147
AGGRAVATED HARASSMENT 2                                                    16548
TRAFFIC,UNCLASSIFIED MISDEMEAN                                             13683
CRIMINAL MISCHIEF,UNCLASSIFIED 4                                           12389
LARCENY,GRAND OF AUTO                                                      11429
CRIMINAL CONTEMPT 1                                                        10892
LARCENY,PETIT FROM BUILDING,UNATTENDED, PACKAGE THEFT INSIDE               10781
MENACING,UNCLASSIFIED                                                      10673
MISCHIEF, CRIMINAL 4, OF MOTOR                                              9958
LARCENY,PETIT FROM AUTO                                                     9030
LEAVING SCENE-ACCIDENT-PERSONA                                              8995
LARCENY,PETIT FROM OPEN AREAS,                                              8373
MISCHIEF,CRIMINAL,    UNCL 2ND                                              7581
LARCENY,PETIT FROM BUILDING,UN                                              7565
MISCHIEF, CRIMINAL 3 & 2, OF M                                              6576
CONTROLLED SUBSTANCE, POSSESSI                                              6441
LARCENY,PETIT OF LICENSE PLATE                                              6290
LARCENY,PETIT OF VEHICLE ACCES                                              5918
LARCENY,GRAND FROM VEHICLE/MOTORCYCLE                                       5886
LARCENY,GRAND FROM STORE-SHOPL                                              5771
STRANGULATION 1ST                                                           4443
LARCENY,GRAND FROM OPEN AREAS, UNATTENDED                                   4210
FRAUD,UNCLASSIFIED-FELONY                                                   4174
LARCENY,PETIT FROM BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE               4036
CRIMINAL MISCHIEF 4TH, GRAFFIT                                              4002
SEXUAL ABUSE 3,2                                                            3892
ROBBERY,PERSONAL ELECTRONIC DEVICE                                          3783
CHILD, ENDANGERING WELFARE                                                  3600
OBSTR BREATH/CIRCUL                                                         3479
FORGERY,ETC.-MISD.                                                          3382
ROBBERY,OPEN AREA UNCLASSIFIED                                              3363
INTOXICATED DRIVING,ALCOHOL                                                 3349
BURGLARY,COMMERCIAL,NIGHT                                                   3279
WEAPONS POSSESSION 3                                                        3259
BURGLARY,RESIDENCE,NIGHT                                                    3115
FORGERY,ETC.,UNCLASSIFIED-FELO                                              3093
BURGLARY,RESIDENCE,DAY                                                      2869
LARCENY,GRAND BY THEFT OF CREDIT CARD                                       2819
WEAPONS, POSSESSION, ETC                                                    2754
LARCENY,GRAND OF VEHICULAR/MOTORCYCLE ACCESSORIES                           2635
THEFT OF SERVICES, UNCLASSIFIE                                              2458
RECKLESS ENDANGERMENT 1                                                     2453
FORGERY,M.V. REGISTRATION                                                   2303
LARCENY,GRAND OF MOTORCYCLE                                                 2261
LARCENY,PETIT OF BICYCLE                                                    2238
ASSAULT POLICE/PEACE OFFICER                                                2231
LARCENY,GRAND BY FALSE PROMISE-NOT IN PERSON CONTACT                        2173
FRAUD,UNCLASSIFIED-MISDEMEANOR                                              2114
CONTROLLED SUBSTANCE,INTENT TO                                              2100
CRIMINAL POSSESSION WEAPON                                                  2058
ROBBERY,BEGIN AS SHOPLIFTING                                                2056
LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UNATTENDED                      2010
LARCENY,GRAND OF BICYCLE                                                    1901
LARCENY,GRAND FROM RESIDENCE, UNATTENDED                                    1866
PUBLIC ADMINISTATION,UNCLASS M                                              1851
VIOLATION OF ORDER OF PROTECTI                                              1841
LARCENY,GRAND FROM PERSON,PICK                                              1765
CONTROLLED SUBSTANCE,POSSESS.                                               1756
TRESPASS 2, CRIMINAL                                                        1737
LARCENY, GRAND OF MOPED                                                     1737
UNAUTHORIZED USE VEHICLE 3                                                  1691
RESISTING ARREST                                                            1685
LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC DEVICE(SNATCH)                1602
CONTEMPT,CRIMINAL                                                           1501
BURGLARY,COMMERCIAL,DAY                                                     1444
NY STATE LAWS,UNCLASSIFIED FEL                                              1412
LARCENY,PETIT BY FALSE PROMISE                                              1309
LARCENY,PETIT BY CREDIT CARD U                                              1308
RECKLESS ENDANGERMENT 2                                                     1304
LARCENY,GRAND BY EXTORTION                                                  1278
LARCENY,GRAND BY BANK ACCT COMPROMISE-UNCLASSIFIED                          1257
LARCENY,GRAND BY FALSE PROMISE-IN PERSON CONTACT                            1255
LARCENY,GRAND FROM PERSON, BAG OPEN/DIP                                     1252
STOLEN PROPERTY 2,1,POSSESSION                                              1185
ROBBERY,DWELLING                                                            1108
LARCENY,GRAND BY ACQUIRING LOST CREDIT CARD                                 1106
CONTROLLED SUBSTANCE,SALE 3                                                  973
LARCENY,GRAND BY BANK ACCT COMPROMISE-REPRODUCED CHECK                       961
STOLEN PROPERTY 3,POSSESSION                                                 959
ROBBERY,NECKCHAIN/JEWELRY                                                    927
RAPE 1                                                                       910
LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)                                 905
LARCENY,GRAND FROM RETAIL STORE, UNATTENDED                                  898
BURGLARY,RESIDENCE,UNKNOWN TIM                                               818
N.Y.C. TRANSIT AUTH. R&R                                                     813
ROBBERY,POCKETBOOK/CARRIED BAG                                               801
LARCENY,PETIT BY ACQUIRING LOS                                               773
LARCENY,GRAND BY CREDIT CARD ACCT COMPROMISE-EXISTING ACCT                   754
LARCENY,GRAND FROM PERSON,UNCL                                               746
BURGLARY,TRUCK NIGHT                                                         738
LARCENY,GRAND FROM EATERY, UNATTENDED                                        725
TRESPASS 3, CRIMINAL                                                         721
LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT INSIDE       711
LARCENY,GRAND BY OPEN/COMPROMISE CELL PHONE ACCT                             693
CRIMINAL MIS 2 & 3                                                           685
IMPERSONATION 2, PUBLIC SERVAN                                               682
ROBBERY,RESIDENTIAL COMMON AREA                                              679
LEWDNESS,PUBLIC                                                              666
LARCENY,GRAND BY IDENTITY THEFT-UNCLASSIFIED                                 665
ROBBERY,DELIVERY PERSON                                                      602
LARCENY,GRAND BY ACQUIRING LOS                                               592
UNAUTHORIZED USE VEHICLE 2                                                   590
ROBBERY,COMMERCIAL UNCLASSIFIED                                              588
CONTROLLED SUBSTANCE, SALE 5                                                 586
LARCENY,GRAND PERSON,NECK CHAI                                               581
MATERIAL              OFFENSIV                                               539
SEXUAL ABUSE                                                                 537
ADM.CODE,UNCLASSIFIED MISDEMEA                                               535
LARCENY,GRAND FROM PERSON,LUSH WORKER(SLEEPING/UNCON VICTIM)                 514
TRESPASS 4,CRIMINAL SUB 2                                                    504
LARCENY,GRAND BY BANK ACCT COMPROMISE-ATM TRANSACTION                        499
LARCENY,GRAND BY DISHONEST EMP                                               490
ROBBERY,CAR JACKING                                                          470
LARCENY,GRAND FROM NIGHT CLUB, UNATTENDED                                    467
CONTROLLED SUBSTANCE,SALE 1                                                  467
LARCENY,GRAND FROM PERSON,PURS                                               459
TAMPERING 1,CRIMINAL                                                         459
BURGLARS TOOLS,UNCLASSIFIED                                                  440
ROBBERY,HOME INVASION                                                        435
SODOMY 1                                                                     416
PETIT LARCENY-CHECK FROM MAILB                                               415
ROBBERY,PUBLIC PLACE INSIDE                                                  414
MAKING TERRORISTIC THREAT                                                    410
UNKNOWN                                                                      406
ROBBERY,BODEGA/CONVENIENCE STORE                                             402
BURGLARY,UNCLASSIFIED,NIGHT                                                  394
BURGLARY,TRUCK DAY                                                           381
NY STATE LAWS,UNCLASSIFIED MIS                                               380
ARSON 2,3,4                                                                  378
BRIBERY,PUBLIC ADMINISTRATION                                                366
FORGERY-ILLEGAL POSSESSION,VEH                                               366
CONTROLLED SUBSTANCE, INTENT T                                               365
ROBBERY,BICYCLE                                                              353
RAPE 3                                                                       352
ASSAULT OTHER PUBLIC SERVICE EMPLOYEE                                        351
MISCHIEF, CRIMINAL 4, BY FIRE                                                350
SEXUAL MISCONDUCT,INTERCOURSE                                                343
LARCENY,PETIT BY CHECK USE                                                   335
AGGRAVATED HARASSMENT 1                                                      334
STOLEN PROPERTY-MOTOR VEH 2ND,                                               318
AGGRAVATED CRIMINAL CONTEMPT                                                 318
LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE      303
BAIL JUMPING 3                                                               298
LARCENY, GRAND OF AUTO - ATTEM                                               294
PUBLIC ADMINISTRATION,UNCLASSI                                               288
LARCENY,GRAND BY BANK ACCT COMPROMISE-UNAUTHORIZED PURCHASE                  286
BURGLARY,COMMERCIAL,UNKNOWN TI                                               263
LARCENY,PETIT BY DISHONEST EMP                                               257
ARSON, MOTOR VEHICLE 1 2 3 & 4                                               252
LARCENY, PETIT OF MOPED                                                      245
UNAUTH. SALE OF TRANS. SERVICE                                               234
FORGERY,DRIVERS LICENSE                                                      233
LARCENY,GRAND BY BANK ACCT COMPROMISE-TELLER                                 229
ROBBERY,CLOTHING                                                             227
RECKLESS DRIVING                                                             222
BAIL JUMPING 1 & 2                                                           215
CONTROLLED SUBSTANCE,SALE 2                                                  195
NY STATE LAWS,UNCLASSIFIED VIO                                               191
ROBBERY,LICENSED FOR HIRE VEHICLE                                            180
PUBLIC SAFETY,UNCLASSIFIED MIS                                               177
BURGLARY,UNCLASSIFIED,UNKNOWN                                                170
RECKLESS ENDANGERMENT OF PROPE                                               167
FALSE REPORT UNCLASSIFIED                                                    167
OBSCENE MATERIAL - UNDER 17 YE                                               163
MENACING 1ST DEGREE (VICT NOT                                                160
THEFT,RELATED OFFENSES,UNCLASS                                               156
BURGLARY, TRUCK UNKNOWN TIME                                                 153
IMPRISONMENT 2,UNLAWFUL                                                      151
GAMBLING 2,PROMOTING,UNCLASSIF                                               147
TAX LAW                                                                      142
CANNABIS POSSESSION, 2&1                                                     137
BURGLARY,UNCLASSIFIED,DAY                                                    133
LARCENY,GRAND BY OPEN BANK ACCT                                              131
ALCOHOLIC BEVERAGES,PUBLIC CON                                               120
TRESPASS 1,CRIMINAL                                                          113
MENACING 1ST DEGREE (VICT PEAC                                               109
RAPE 1,ATTEMPT                                                               105
LARCENY,PETIT FROM TRUCK                                                     104
ABANDON ANIMAL                                                               104
JOSTLING                                                                     101
SODOMY 3                                                                      97
TORTURE/INJURE ANIMAL CRUELTY                                                 94
ROBBERY,ATM LOCATION                                                          93
ROBBERY, CHAIN STORE                                                          93
ALCOHOLIC BEVERAGE CONTROL LAW                                                90
RAPE 2                                                                        85
LARCENY,GRAND FROM TRUCK, UNATTENDED                                          84
PETIT LARCENY OF ANIMAL                                                       77
MISCHIEF, CRIMINAL 3&2, BY FIR                                                76
CHILD ABANDONMENT                                                             76
LARCENY,GRAND OF TRUCK                                                        76
TAMPERING 3,2, CRIMINAL                                                       72
UNLAWFUL DISCLOSURE OF AN INTIMATE IMAGE                                      70
CANNABIS POSSESSION, 3                                                        70
ROBBERY,GAS STATION                                                           68
ADM.CODE,UNCLASSIFIED VIOLATIO                                                67
PROSTITUTION                                                                  67
ROBBERY,BAR/RESTAURANT                                                        66
CANNABIS POSSESSION                                                           65
CANNABIS SALE, 3                                                              63
IMPRISONMENT 1,UNLAWFUL                                                       62
LARCENY,PETIT OF MOTORCYCLE                                                   61
AGRICULTURE & MARKETS LAW,UNCL                                                60
CUSTODIAL INTERFERENCE 2                                                      59
SALE SCHOOL GROUNDS 4                                                         59
IMITATION PISTOL/AIR RIFLE                                                    58
CRIMINAL DISPOSAL FIREARM 1                                                   58
ROBBERY,BANK                                                                  56
IMPERSONATION 1, POLICE OFFICE                                                55
GAMBLING, DEVICE, POSSESSION                                                  55
ACCOSTING,FRAUDULENT                                                          51
LARCENY,PETIT OF AUTO                                                         46
PROSTITUTION, PATRONIZING 4, 3                                                46
DRUG PARAPHERNALIA,   POSSESSE                                                46
SUPP. ACT TERR 2ND                                                            45
IMPAIRED DRIVING,DRUG                                                         44
PUBLIC HEALTH LAW,UNCLASSIFIED                                                43
ROBBERY,LICENSED MEDALLION CAB                                                43
FALSE REPORT 1,FIRE                                                           41
CONTROLLED SUBSTANCE, SALE 4                                                  40
DISORDERLY CONDUCT                                                            40
OBSCENITY 1                                                                   40
KIDNAPPING 2                                                                  37
CAUSE SPI/KILL ANIMAL                                                         36
LEAVING THE SCENE OF AN ACCIDENT (SPI)                                        34
MENACING,PEACE OFFICER                                                        33
CRIM POS WEAP 4                                                               33
CHILD,ALCOHOL SALE TO                                                         32
AGGRAVATED SEXUAL ASBUSE                                                      32
CUSTODIAL INTERFERENCE 1                                                      32
ROBBERY,UNLICENSED FOR HIRE VEHICLE                                           31
ESCAPE 3                                                                      30
COERCION 1                                                                    30
HOMICIDE,NEGLIGENT,UNCLASSIFIE                                                30
SEXUAL MISCONDUCT,DEVIATE                                                     29
EXPOSURE OF A PERSON                                                          29
VEHICULAR ASSAULT (INTOX DRIVE                                                28
POSSES OR CARRY A KNIFE                                                       28
ASSAULT SCHOOL SAFETY AGENT                                                   26
COURSE OF SEXUAL CONDUCT AGAIN                                                26
ESCAPE 2,1                                                                    25
PROSTITUTION 3,PROMOTING BUSIN                                                25

Encode `PREM_TYP_DESC`?? => Left it as it for now

In [51]:
unique_values = df['PREM_TYP_DESC'].unique()
print("Unique values for column 'PREM_TYP_DESC':")
print(unique_values)

Unique values for column 'PREM_TYP_DESC':
['STREET' 'RESIDENCE-HOUSE' 'BAR/NIGHT CLUB' 'SOCIAL CLUB/POLICY'
 'UNKNOWN' 'HOMELESS SHELTER' 'OTHER' 'COMMERCIAL BUILDING'
 'BUS (NYC TRANSIT)' 'BUS (OTHER)' 'CHAIN STORE'
 'RESIDENCE - PUBLIC HOUSING' 'STORE UNCLASSIFIED'
 'PARKING LOT/GARAGE (PUBLIC)' 'DEPARTMENT STORE' 'RESIDENCE - APT. HOUSE'
 'GROCERY/BODEGA' 'PUBLIC SCHOOL' 'GYM/FITNESS FACILITY'
 'DOCTOR/DENTIST OFFICE' 'GAS STATION' 'PARK/PLAYGROUND'
 'RESTAURANT/DINER' 'HOSPITAL' 'ATM' 'CHURCH' 'BANK' 'FOOD SUPERMARKET'
 'FAST FOOD' 'PARKING LOT/GARAGE (PRIVATE)' 'CLOTHING/BOUTIQUE'
 'CHECK CASHING BUSINESS' 'PVT HOUSE' 'HIGHWAY/PARKWAY' 'DRUG STORE'
 'CANDY STORE' 'STORAGE FACILITY' 'PUBLIC BUILDING' 'BOOK/CARD'
 'HOTEL/MOTEL' 'DRY CLEANER/LAUNDRY' 'LIQUOR STORE' 'FACTORY/WAREHOUSE'
 'SMALL MERCHANT' 'JEWELRY' 'PRIVATE/PAROCHIAL SCHOOL'
 'OPEN AREAS (OPEN LOTS)' 'TELECOMM. STORE' 'SHOE' 'COLLEGE/UNIVERSITY'
 'BUS STOP' 'TRANSIT FACILITY (OTHER)' 'TAXI (LIVERY LICENSED)'
 'MAILBOX OUTSIDE' 'BEAUTY & NAIL SALON' 'MARINA/PIER'
 'OTHER HOUSE OF WORSHIP' 'CONSTRUCTION SITE' 'VARIETY STORE' 'TUNNEL'
 'BRIDGE' 'BUS TERMINAL' 'DAYCARE FACILITY' 'CEMETERY'
 'MULTI DWELL - APT BUILD' 'SMOKE SHOP' 'ABANDONED BUILDING' 'MOSQUE'
 'REAL ESTATE' 'SYNAGOGUE' 'FERRY/FERRY TERMINAL' 'MAILBOX INSIDE'
 'LOAN COMPANY' 'MULTI DWELL - PUBLIC HOUS' 'TRANSIT - NYC SUBWAY'
 'AIRPORT TERMINAL' 'TAXI (YELLOW LICENSED)' 'MOBILE FOOD' 'VIDEO STORE'
 'PHOTO/COPY' 'TRAMWAY' 'TAXI/LIVERY (UNLICENSED)' 'COMMERCIAL BLDG'
 'BEAUTY/NAIL SALON']

In [52]:
pd.set_option('display.max_rows', None)

frequency = df['PREM_TYP_DESC'].value_counts()

print(frequency)

PREM_TYP_DESC
STREET                          162643
RESIDENCE - APT. HOUSE          115277
RESIDENCE-HOUSE                  47939
RESIDENCE - PUBLIC HOUSING       35695
CHAIN STORE                      27829
UNKNOWN                          22237
TRANSIT - NYC SUBWAY             14042
DEPARTMENT STORE                 13937
COMMERCIAL BUILDING              11305
DRUG STORE                       11026
OTHER                             9709
HOMELESS SHELTER                  8401
GROCERY/BODEGA                    7937
RESTAURANT/DINER                  5103
CLOTHING/BOUTIQUE                 5058
PARK/PLAYGROUND                   4574
BAR/NIGHT CLUB                    4152
PUBLIC SCHOOL                     3694
FAST FOOD                         2855
HOTEL/MOTEL                       2397
PARKING LOT/GARAGE (PUBLIC)       2397
HOSPITAL                          2250
FOOD SUPERMARKET                  2173
HIGHWAY/PARKWAY                   1946
BANK                              1856
PARKING LOT/GARAGE (PRIVATE)      1776
PUBLIC BUILDING                   1634
SMALL MERCHANT                    1455
GAS STATION                       1405
STORE UNCLASSIFIED                1392
BEAUTY & NAIL SALON               1288
MAILBOX OUTSIDE                   1237
GYM/FITNESS FACILITY              1234
BUS (NYC TRANSIT)                 1231
AIRPORT TERMINAL                  1148
DOCTOR/DENTIST OFFICE             1019
CONSTRUCTION SITE                  981
DRY CLEANER/LAUNDRY                922
TRANSIT FACILITY (OTHER)           915
COLLEGE/UNIVERSITY                 599
CHURCH                             585
CANDY STORE                        570
OPEN AREAS (OPEN LOTS)             568
LIQUOR STORE                       549
STORAGE FACILITY                   545
PRIVATE/PAROCHIAL SCHOOL           499
VARIETY STORE                      468
TELECOMM. STORE                    431
SMOKE SHOP                         416
BUS STOP                           393
TUNNEL                             379
CHECK CASHING BUSINESS             362
BRIDGE                             338
ATM                                331
FACTORY/WAREHOUSE                  320
JEWELRY                            304
BUS TERMINAL                       304
SHOE                               286
MAILBOX INSIDE                     272
SOCIAL CLUB/POLICY                 235
BUS (OTHER)                        222
SYNAGOGUE                          220
TAXI (LIVERY LICENSED)             214
DAYCARE FACILITY                   193
FERRY/FERRY TERMINAL               171
MARINA/PIER                        164
MOBILE FOOD                        150
ABANDONED BUILDING                 133
REAL ESTATE                        116
TAXI (YELLOW LICENSED)             114
BOOK/CARD                          104
MULTI DWELL - APT BUILD             96
MOSQUE                              85
PHOTO/COPY                          60
OTHER HOUSE OF WORSHIP              44
CEMETERY                            42
MULTI DWELL - PUBLIC HOUS           37
TAXI/LIVERY (UNLICENSED)            37
VIDEO STORE                         33
LOAN COMPANY                        22
PVT HOUSE                           20
TRAMWAY                              9
COMMERCIAL BLDG                      6
BEAUTY/NAIL SALON                    2
Name: count, dtype: int64

In [ ]:
encoded_data = encoder.fit_transform(df[['PREM_TYP_DESC']])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['PREM_TYP_DESC']))

df = pd.concat([df.drop(['PREM_TYP_DESC'], axis=1), encoded_df], axis=1)

In [ ]:
print(df.columns.tolist())

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.to_csv('data.csv', index=False)

print("df successfully saved!")