In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_original = pd.read_csv("NYPD_Complaint_Data_Current__Year_To_Date__20240405.csv")

In [3]:
df_original.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799,"(40.82405906, -73.89979939)",POINT (-73.89979939 40.82405906)
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125,"(40.83585867, -73.87212505)",POINT (-73.87212505 40.83585867)
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400,"(40.8315, -73.8634)",POINT (-73.8634 40.8315)
3,263141402H1,NaN,BROOKLYN,02/06/2023,10:16:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,18-24,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN
4,269307857H1,NaN,BROOKLYN,06/04/2023,00:20:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_original.describe()

,ADDR_PCT_CD,HOUSING_PSA,JURISDICTION_CODE,KY_CD,PD_CD,TRANSIT_DISTRICT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,555047.000000,36025.000000,555117.000000,555117.000000,554731.000000,14733.000000,5.551050e+05,555105.000000,555105.000000,555105.000000
mean,63.954051,6405.863428,0.528698,299.576752,418.028987,15.974004,1.005504e+06,207741.793875,40.736684,-73.922998
std,35.106302,13256.637379,5.396617,159.024032,227.691726,12.881583,2.165866e+04,29949.894252,0.112854,0.160446
min,1.000000,218.000000,0.000000,101.000000,100.000000,1.000000,0.000000e+00,0.000000,0.000000,-74.254377
25%,40.000000,472.000000,0.000000,115.000000,258.000000,3.000000,9.916100e+05,185478.000000,40.675719,-73.973423
50%,63.000000,696.000000,0.000000,341.000000,357.000000,12.000000,1.004938e+06,207065.000000,40.734955,-73.925311
75%,102.000000,1233.000000,0.000000,351.000000,638.000000,32.000000,1.017907e+06,235044.000000,40.811802,-73.878510
max,123.000000,72770.000000,97.000000,881.000000,969.000000,34.000000,1.067226e+06,271819.000000,40.912714,0.000000

In [5]:
df_original.isnull().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                     70
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 34738
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 519092
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          386
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            540384
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                      12
Y_COORD_CD                      12
Latitude                        12
Longitude                       12
Lat_Lon                         12
New Georeferenced Column        12
dtype: int64

In [6]:
num_rows = df_original.shape[0]
print("Total number of rows: ", num_rows)

Total number of rows:  555117

In [7]:
# Create a copy of the original df
df = df_original.copy()

### Handle Missing Values

In [8]:
# Drop `HOUSING_PSA` and `TRANSIT_DISTRICT` columns, as they have >90% missing values.

df.drop(['HOUSING_PSA', 'TRANSIT_DISTRICT'], axis=1, inplace=True)

In [9]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,JURISDICTION_CODE,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,(null),COMPLETED,(null),0,...,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799,"(40.82405906, -73.89979939)",POINT (-73.89979939 40.82405906)
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,(null),COMPLETED,(null),0,...,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125,"(40.83585867, -73.87212505)",POINT (-73.87212505 40.83585867)
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,(null),COMPLETED,(null),0,...,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400,"(40.8315, -73.8634)",POINT (-73.8634 40.8315)
3,263141402H1,NaN,BROOKLYN,02/06/2023,10:16:00,NaN,(null),COMPLETED,(null),0,...,M,18-24,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN
4,269307857H1,NaN,BROOKLYN,06/04/2023,00:20:00,NaN,(null),COMPLETED,(null),0,...,M,25-44,BLACK,M,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Also identify columns with any remaning null values.
# Check for strings like "(NaN)" or "(null)" that weren't caught by the `isnull()` method

In [11]:
def replace_with_nan(value):
    if value in ['(NaN)', '(null)']:
        return np.nan
    return value

In [12]:
df = df.applymap(replace_with_nan)

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_53626/4030091112.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(replace_with_nan)

In [13]:
missing_values_after = df.isnull().sum()

missing_percentage_after = (missing_values_after / len(df)) * 100

missing_summary_after = pd.DataFrame({'missing_values': missing_values_after, 'missing_percentage': missing_percentage_after})
print(missing_summary_after[missing_summary_after['missing_values'] > 0].sort_values(by='missing_percentage', ascending=False))

                          missing_values  missing_percentage
HADEVELOPT                        553360           99.683490
PARKS_NM                          551791           99.400847
STATION_NAME                      540384           97.345965
LOC_OF_OCCUR_DESC                 111769           20.134314
SUSP_SEX                           72130           12.993657
SUSP_AGE_GROUP                     72130           12.993657
SUSP_RACE                          72130           12.993657
CMPLNT_TO_DT                       34738            6.257780
CMPLNT_TO_TM                       34325            6.183381
PREM_TYP_DESC                      22212            4.001319
BORO_NM                             1019            0.183565
PD_CD                                386            0.069535
PD_DESC                              386            0.069535
VIC_RACE                             107            0.019275
ADDR_PCT_CD                           70            0.012610
OFNS_DESC                             17            0.003062
X_COORD_CD                            12            0.002162
Y_COORD_CD                            12            0.002162
Latitude                              12            0.002162
Longitude                             12            0.002162
Lat_Lon                               12            0.002162
New Georeferenced Column              12            0.002162

In [14]:
# Drop `HADEVELOPT`, `PARKS_NM`, and `STATION_NAME` columns, as they also have >90% missing values.

df.drop(['HADEVELOPT', 'PARKS_NM', 'STATION_NAME'], axis=1, inplace=True)

In [15]:
df['missing_values_count'] = df.isnull().sum(axis=1)

rows_with_missing_values = df[df['missing_values_count'] > 0]
print("Rows with missing values and their counts:\n", rows_with_missing_values[['missing_values_count']])

Rows with missing values and their counts:
         missing_values_count
0                          3
1                          3
2                          2
3                         11
4                         12
...                      ...
555109                     1
555110                     3
555114                     1
555115                     1
555116                     3

[201422 rows x 1 columns]

In [16]:
missing_value_counts_summary = rows_with_missing_values['missing_values_count'].value_counts().sort_index()
print("\nSummary of missing value counts per row:\n", missing_value_counts_summary)

Summary of missing value counts per row:
 missing_values_count
1     95581
2     26266
3     56123
4     16612
5      3543
6      2372
7       848
8        52
9        13
11        4
12        6
14        1
15        1
Name: count, dtype: int64

Based on the above summary, it seems reasonable to drop rows with a high number of missing values (i.e. 8+ missing values), especially given that there are 36 columns in total. The total number of rows that will be dropped is 77, and this is very small compared to the overall dataset, so this should not have significant impact.

In [17]:
df = df[df['missing_values_count'] < 8]

df.drop('missing_values_count', axis=1, inplace=True)

print(f"Number of rows after dropping these rows: {len(df)}")

Number of rows after dropping these rows: 555040

In [18]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799,"(40.82405906, -73.89979939)",POINT (-73.89979939 40.82405906)
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125,"(40.83585867, -73.87212505)",POINT (-73.87212505 40.83585867)
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400,"(40.8315, -73.8634)",POINT (-73.8634 40.8315)
9,278972931,123.0,STATEN ISLAND,12/14/2023,02:50:00,12/14/2023,02:52:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,E,934105.0,138444.0,40.546531,-74.180430,"(40.54653060020265, -74.18043031626128)",POINT (-74.18043031626128 40.54653060020265)
10,278470767,121.0,STATEN ISLAND,12/04/2023,15:53:00,12/04/2023,16:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,BLACK,F,945652.0,167646.0,40.626742,-74.139049,"(40.626741934909774, -74.13904909934683)",POINT (-74.13904909934683 40.626741934909774)

In [19]:
# Also drop `Lat_Lon` and `New Georeferenced Column` columns as they are redundant.
# i.e. contain the same information as `Latitude` and `Longitude` in different formats.

df.drop(['Lat_Lon', 'New Georeferenced Column'], axis=1, inplace=True)

df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,269235387,42.0,BRONX,06/03/2023,01:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799
1,262102261,43.0,BRONX,01/18/2023,14:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,18-24,BLACK,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125
2,267972239,43.0,BRONX,05/07/2023,00:15:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,25-44,BLACK,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400
9,278972931,123.0,STATEN ISLAND,12/14/2023,02:50:00,12/14/2023,02:52:00,COMPLETED,0,N.Y. POLICE DEPT,...,25-44,WHITE,M,UNKNOWN,UNKNOWN,E,934105.0,138444.0,40.546531,-74.180430
10,278470767,121.0,STATEN ISLAND,12/04/2023,15:53:00,12/04/2023,16:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,25-44,BLACK,F,945652.0,167646.0,40.626742,-74.139049

### Drop Irrelevant Columns

In [20]:
# Drop `CMPLNT_NUM` column, as it is randomly generated persistent ID for each complaint.
df.drop('CMPLNT_NUM', axis=1, inplace=True)

### Encoding Categorical Variables

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555040 entries, 0 to 555116
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ADDR_PCT_CD        554995 non-null  float64
 1   BORO_NM            554041 non-null  object
 2   CMPLNT_FR_DT       555040 non-null  object
 3   CMPLNT_FR_TM       555040 non-null  object
 4   CMPLNT_TO_DT       520379 non-null  object
 5   CMPLNT_TO_TM       520792 non-null  object
 6   CRM_ATPT_CPTD_CD   555040 non-null  object
 7   JURISDICTION_CODE  555040 non-null  int64
 8   JURIS_DESC         555040 non-null  object
 9   KY_CD              555040 non-null  int64
 10  LAW_CAT_CD         555040 non-null  object
 11  LOC_OF_OCCUR_DESC  443291 non-null  object
 12  OFNS_DESC          555023 non-null  object
 13  PATROL_BORO        555040 non-null  object
 14  PD_CD              554711 non-null  float64
 15  PD_DESC            554711 non-null  object
 16  PREM_TYP_DESC      532880 non-null  object
 17  RPT_DT             555040 non-null  object
 18  SUSP_AGE_GROUP     482977 non-null  object
 19  SUSP_RACE          482977 non-null  object
 20  SUSP_SEX           482977 non-null  object
 21  VIC_AGE_GROUP      555040 non-null  object
 22  VIC_RACE           554953 non-null  object
 23  VIC_SEX            555040 non-null  object
 24  X_COORD_CD         555040 non-null  float64
 25  Y_COORD_CD         555040 non-null  float64
 26  Latitude           555040 non-null  float64
 27  Longitude          555040 non-null  float64
dtypes: float64(6), int64(2), object(20)
memory usage: 122.8+ MB

#### Encoding Time & Date Based Columns

In [22]:
columns_to_convert = ['CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'RPT_DT']

for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], errors='coerce')

df.head()

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_53626/2997153677.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column], errors='coerce')
/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_53626/2997153677.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column], errors='coerce')

,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,KY_CD,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,42.0,BRONX,2023-06-03,2024-04-06 01:00:00,NaT,NaT,COMPLETED,0,N.Y. POLICE DEPT,105,...,UNKNOWN,BLACK,M,25-44,BLACK HISPANIC,M,1011982.0,239520.0,40.824059,-73.899799
1,43.0,BRONX,2023-01-18,2024-04-06 14:00:00,NaT,NaT,COMPLETED,0,N.Y. POLICE DEPT,113,...,18-24,BLACK,M,UNKNOWN,UNKNOWN,E,1019635.0,243829.0,40.835859,-73.872125
2,43.0,BRONX,2023-05-07,2024-04-06 00:15:00,NaT,NaT,COMPLETED,0,N.Y. POLICE DEPT,106,...,25-44,BLACK,M,25-44,BLACK,F,1022051.0,242244.0,40.831500,-73.863400
9,123.0,STATEN ISLAND,2023-12-14,2024-04-06 02:50:00,2023-12-14,2024-04-06 02:52:00,COMPLETED,0,N.Y. POLICE DEPT,235,...,25-44,WHITE,M,UNKNOWN,UNKNOWN,E,934105.0,138444.0,40.546531,-74.180430
10,121.0,STATEN ISLAND,2023-12-04,2024-04-06 15:53:00,2023-12-04,2024-04-06 16:00:00,COMPLETED,0,N.Y. POLICE DEPT,344,...,UNKNOWN,BLACK,M,25-44,BLACK,F,945652.0,167646.0,40.626742,-74.139049

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555040 entries, 0 to 555116
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ADDR_PCT_CD        554995 non-null  float64
 1   BORO_NM            554041 non-null  object
 2   CMPLNT_FR_DT       555008 non-null  datetime64[ns]
 3   CMPLNT_FR_TM       555040 non-null  datetime64[ns]
 4   CMPLNT_TO_DT       520377 non-null  datetime64[ns]
 5   CMPLNT_TO_TM       520792 non-null  datetime64[ns]
 6   CRM_ATPT_CPTD_CD   555040 non-null  object
 7   JURISDICTION_CODE  555040 non-null  int64
 8   JURIS_DESC         555040 non-null  object
 9   KY_CD              555040 non-null  int64
 10  LAW_CAT_CD         555040 non-null  object
 11  LOC_OF_OCCUR_DESC  443291 non-null  object
 12  OFNS_DESC          555023 non-null  object
 13  PATROL_BORO        555040 non-null  object
 14  PD_CD              554711 non-null  float64
 15  PD_DESC            554711 non-null  object
 16  PREM_TYP_DESC      532880 non-null  object
 17  RPT_DT             555040 non-null  datetime64[ns]
 18  SUSP_AGE_GROUP     482977 non-null  object
 19  SUSP_RACE          482977 non-null  object
 20  SUSP_SEX           482977 non-null  object
 21  VIC_AGE_GROUP      555040 non-null  object
 22  VIC_RACE           554953 non-null  object
 23  VIC_SEX            555040 non-null  object
 24  X_COORD_CD         555040 non-null  float64
 25  Y_COORD_CD         555040 non-null  float64
 26  Latitude           555040 non-null  float64
 27  Longitude          555040 non-null  float64
dtypes: datetime64[ns](5), float64(6), int64(2), object(15)
memory usage: 122.8+ MB

#### Handle anomalous values in `SUSP_AGE_GROUP` and `VIC_AGE_GROUP` columns before encoding

In [24]:
# First, get their unique values
unique_susp_age_groups = df['SUSP_AGE_GROUP'].unique()
print("Unique SUSP_AGE_GROUP values:")
print(unique_susp_age_groups)

unique_vic_age_groups = df['VIC_AGE_GROUP'].unique()
print("\nUnique VIC_AGE_GROUP values:")
print(unique_vic_age_groups)

Unique SUSP_AGE_GROUP values:
['UNKNOWN' '18-24' '25-44' '45-64' nan '<18' '65+' '929' '-62' '2023'
 '-956' '-953' '-6' '1022' '953' '925' '1023' '-951' '-963' '938' '-2'
 '967' '964' '942' '-47' '-976' '927' '-1' '-5' '933']

Unique VIC_AGE_GROUP values:
['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24' '-970' '-6' '-60' '-30'
 '1022' '-964' '-58' '-61' '-968' '1023' '962' '-3' '1018' '-971' '-2'
 '-929' '953' '-46' '-64' '1020' '-953' '-975' '-962' '1013' '949' '-932'
 '-10' '-961' '-33']

In [25]:
# Replace NaN values with 'UNKNOWN' in SUSP_AGE_GROUP and VIC_AGE_GROUP
df['SUSP_AGE_GROUP'].fillna('UNKNOWN', inplace=True)
df['VIC_AGE_GROUP'].fillna('UNKNOWN', inplace=True)

print(df['SUSP_AGE_GROUP'].unique())
print(df['VIC_AGE_GROUP'].unique())

['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+' '929' '-62' '2023' '-956'
 '-953' '-6' '1022' '953' '925' '1023' '-951' '-963' '938' '-2' '967'
 '964' '942' '-47' '-976' '927' '-1' '-5' '933']
['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24' '-970' '-6' '-60' '-30'
 '1022' '-964' '-58' '-61' '-968' '1023' '962' '-3' '1018' '-971' '-2'
 '-929' '953' '-46' '-64' '1020' '-953' '-975' '-962' '1013' '949' '-932'
 '-10' '-961' '-33']

/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_53626/2206176929.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SUSP_AGE_GROUP'].fillna('UNKNOWN', inplace=True)
/var/folders/mx/xxpk7q5j4xb7trzqnz6bzvpm0000gn/T/ipykernel_53626/2206176929.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VIC_AGE_GROUP'].fillna('UNKNOWN', inplace=True)

In [26]:
valid_age_groups = {'<18', '18-24', '25-44', '45-64', '65+', 'UNKNOWN'}

In [27]:
# Handle anomalous values (e.g. -953, 1013)

# First, count anomalous values
anomalous_susp_age = df[~df['SUSP_AGE_GROUP'].isin(valid_age_groups)]
count_anomalous_susp_age = anomalous_susp_age.shape[0]

anomalous_vic_age = df[~df['VIC_AGE_GROUP'].isin(valid_age_groups)]
count_anomalous_vic_age = anomalous_vic_age.shape[0]

print(f"Anomalous SUSP_AGE_GROUP values: {count_anomalous_susp_age}")
print(f"Anomalous VIC_AGE_GROUP values: {count_anomalous_vic_age}")

Anomalous SUSP_AGE_GROUP values: 78
Anomalous VIC_AGE_GROUP values: 40

In [28]:
# Replace anomalous values with 'UNKNOWN'
df['SUSP_AGE_GROUP'] = df['SUSP_AGE_GROUP'].apply(lambda x: x if x in valid_age_groups else 'UNKNOWN')
df['VIC_AGE_GROUP'] = df['VIC_AGE_GROUP'].apply(lambda x: x if x in valid_age_groups else 'UNKNOWN')

print("Unique SUSP_AGE_GROUP values after replacement:", df['SUSP_AGE_GROUP'].unique())
print("Unique VIC_AGE_GROUP values after replacement:", df['VIC_AGE_GROUP'].unique())

Unique SUSP_AGE_GROUP values after replacement: ['UNKNOWN' '18-24' '25-44' '45-64' '<18' '65+']
Unique VIC_AGE_GROUP values after replacement: ['25-44' 'UNKNOWN' '45-64' '65+' '<18' '18-24']

#### Encode Rest of the Categorical Variables

In [29]:
columns_to_encode = ['BORO_NM', 'CRM_ATPT_CPTD_CD', 'JURIS_DESC', 'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 
                     'OFNS_DESC', 'PATROL_BORO', 'PD_DESC', 'PREM_TYP_DESC', 'SUSP_AGE_GROUP', 'SUSP_SEX', 
                     'SUSP_RACE', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

In [30]:
df = df.copy()
for column in columns_to_encode:
    df[column] = df[column].astype('category').cat.codes

In [31]:
df.head()

,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,KY_CD,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,42.0,0,2023-06-03,2024-04-06 01:00:00,NaT,NaT,1,0,8,105,...,5,2,1,1,3,4,1011982.0,239520.0,40.824059,-73.899799
1,43.0,0,2023-01-18,2024-04-06 14:00:00,NaT,NaT,1,0,8,113,...,0,2,1,5,4,1,1019635.0,243829.0,40.835859,-73.872125
2,43.0,0,2023-05-07,2024-04-06 00:15:00,NaT,NaT,1,0,8,106,...,1,2,1,1,2,2,1022051.0,242244.0,40.831500,-73.863400
9,123.0,4,2023-12-14,2024-04-06 02:50:00,2023-12-14,2024-04-06 02:52:00,1,0,8,235,...,1,5,1,5,4,1,934105.0,138444.0,40.546531,-74.180430
10,121.0,4,2023-12-04,2024-04-06 15:53:00,2023-12-04,2024-04-06 16:00:00,1,0,8,344,...,5,2,1,1,2,2,945652.0,167646.0,40.626742,-74.139049

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555040 entries, 0 to 555116
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ADDR_PCT_CD        554995 non-null  float64
 1   BORO_NM            555040 non-null  int8
 2   CMPLNT_FR_DT       555008 non-null  datetime64[ns]
 3   CMPLNT_FR_TM       555040 non-null  datetime64[ns]
 4   CMPLNT_TO_DT       520377 non-null  datetime64[ns]
 5   CMPLNT_TO_TM       520792 non-null  datetime64[ns]
 6   CRM_ATPT_CPTD_CD   555040 non-null  int8
 7   JURISDICTION_CODE  555040 non-null  int64
 8   JURIS_DESC         555040 non-null  int8
 9   KY_CD              555040 non-null  int64
 10  LAW_CAT_CD         555040 non-null  int8
 11  LOC_OF_OCCUR_DESC  555040 non-null  int8
 12  OFNS_DESC          555040 non-null  int8
 13  PATROL_BORO        555040 non-null  int8
 14  PD_CD              554711 non-null  float64
 15  PD_DESC            555040 non-null  int16
 16  PREM_TYP_DESC      555040 non-null  int8
 17  RPT_DT             555040 non-null  datetime64[ns]
 18  SUSP_AGE_GROUP     555040 non-null  int8
 19  SUSP_RACE          555040 non-null  int8
 20  SUSP_SEX           555040 non-null  int8
 21  VIC_AGE_GROUP      555040 non-null  int8
 22  VIC_RACE           555040 non-null  int8
 23  VIC_SEX            555040 non-null  int8
 24  X_COORD_CD         555040 non-null  float64
 25  Y_COORD_CD         555040 non-null  float64
 26  Latitude           555040 non-null  float64
 27  Longitude          555040 non-null  float64
dtypes: datetime64[ns](5), float64(6), int16(1), int64(2), int8(14)
memory usage: 67.8 MB

In [34]:
df.to_csv('data.csv', index=False)

print("df successfully saved!")

df successfully saved!